In [47]:
import pandas as pd
import math
import jenkspy

In [2]:
#this is the most recent data
data=pd.read_csv("current.csv",dtype={"locationId":str})
data.head()

,locationId,name,2019-03 (March) 1. Avg. Monday,2019-03 (March) 2. Avg. Tuesday,2019-03 (March) 3. Avg. Wednesday,2019-03 (March) 4. Avg. Thursday,2019-03 (March) 5. Avg. Friday,2019-03 (March) 6. Avg. Saturday,2019-03 (March) 7. Avg. Sunday,2020-03-01,...,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26
0,total,NaN,182350060,188811974,190373460,193792045,198876941,160606841,116148663,116201839,...,144002882,115711861,88189650,146395254,147265935,150204952,153007283,152314450,122943060,95415898
1,006242203,Berlin - Friedrichshain-Kreuzberg,2986743,3097456,3126015,3186805,3029614,2550938,1920031,1977584,...,1547449,1287673,1008533,1589428,1628571,1693490,1737214,1654885,1234511,1029117
2,006242201,Berlin - Steglitz-Zehlendorf,2490376,2582137,2622440,2627757,2443969,2064809,1496433,1525258,...,1600487,1329051,1010804,1633553,1658945,1721523,1755263,1727295,1297433,1051074
3,006278201,Hamburg - Hamburg-Nord,3160473,3251386,3229181,3299359,3397721,2716760,2054087,1895568,...,2139121,1738194,1340594,2185529,2227707,2249479,2281320,2234352,1778542,1270702
4,006242204,Berlin - Tempelhof-Schöneberg,2045961,2106124,2120735,2131000,2047040,1818545,1365885,1405539,...,1425339,1258198,961364,1430336,1458276,1508863,1546010,1491871,1196407,976008

In [3]:
#here we read out all the ids that are relevant for berlin and brandenburg
rbb=pd.read_csv("rbb_ids.csv",dtype={"id":str})
rbb_ids=rbb["id"].tolist()

In [4]:
#and we fitler by these ids to get a dataset only containing places
#in berlin and brandenburg
rbb_data=data[data["locationId"].isin(rbb_ids)]
rbb_data

,locationId,name,2019-03 (March) 1. Avg. Monday,2019-03 (March) 2. Avg. Tuesday,2019-03 (March) 3. Avg. Wednesday,2019-03 (March) 4. Avg. Thursday,2019-03 (March) 5. Avg. Friday,2019-03 (March) 6. Avg. Saturday,2019-03 (March) 7. Avg. Sunday,2020-03-01,...,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26
1,006242203,Berlin - Friedrichshain-Kreuzberg,2986743,3097456,3126015,3186805,3029614,2550938,1920031,1977584,...,1547449,1287673,1008533,1589428,1628571,1693490,1737214,1654885,1234511,1029117
2,006242201,Berlin - Steglitz-Zehlendorf,2490376,2582137,2622440,2627757,2443969,2064809,1496433,1525258,...,1600487,1329051,1010804,1633553,1658945,1721523,1755263,1727295,1297433,1051074
4,006242204,Berlin - Tempelhof-Schöneberg,2045961,2106124,2120735,2131000,2047040,1818545,1365885,1405539,...,1425339,1258198,961364,1430336,1458276,1508863,1546010,1491871,1196407,976008
7,006242200,Berlin - Reinickendorf,1748355,1798948,1809530,1836606,1756017,1498197,1162331,1198819,...,1205035,1049074,806694,1207332,1232198,1276580,1306405,1294239,1008233,836741
8,006242202,Berlin - Lichtenberg,1864485,1908665,1929861,1949614,1853727,1582625,1148217,1203073,...,1427908,1225020,914968,1435342,1459586,1510500,1536719,1536022,1195105,952839
46,006235300,Potsdam-Mittelmark,664177,685908,687605,694247,698194,530217,380235,379766,...,546380,446792,320678,542786,555302,583182,586132,598432,446177,350746
64,006237600,Dahme-Spreewald,650459,654718,656690,670497,705534,559657,410370,367709,...,457764,361800,251468,452863,468597,478740,488036,491716,362296,274933
99,006248800,Oberhavel,627919,648948,647065,657476,664933,530151,381196,379051,...,511119,424858,310591,506183,506834,526720,536963,551626,428890,340859
100,031824800,Märkisch-Oderland,601355,612231,610757,628899,647069,511007,357050,353962,...,522642,428876,305147,510243,516025,530219,533915,552589,425002,325028
102,006236400,Teltow-Fläming,593789,613243,613853,617808,626657,461214,325969,315939,...,498772,398922,278397,498148,511703,527880,531158,539727,395700,307637
163,006236900,Potsdam,484202,501719,505409,507206,522929,385408,265043,273626,...,314905,252749,187364,323090,331418,345084,345902,348912,247498,201789
164,006241300,Havelland,483642,494549,496624,502601,537658,445599,288626,302764,...,406735,322597,222051,397721,398671,414271,424805,444316,348109,244906
166,006262800,Oder-Spree,545836,562964,557794,564787,576084,436834,307686,290227,...,437026,346156,257066,428189,430519,443048,449408,461663,345411,279722
168,006255300,Barnim,518778,534149,528584,541711,554021,445535,312993,324003,...,465851,416705,305914,450001,455740,472598,492069,506790,407517,325393
203,006268300,Spree-Neiße,417491,414064,407484,422676,442531,308309,246194,223694,...,298038,203931,150781,315604,313706,325870,328830,334493,205312,165292
309,006257100,Oberspreewald-Lausitz,334691,346769,345822,357004,352592,257676,179643,149495,...,268792,185745,129052,284701,290626,304938,298119,287225,186382,149597
315,006243000,Cottbus,382819,391646,391373,403838,401831,280422,191326,182444,...,275264,200131,144841,289751,289494,306574,307242,308065,197767,155667
366,006253700,Uckermark,357596,368080,371885,389678,414705,325810,219214,201636,...,292720,213596,149678,284420,287143,293227,309426,305602,223462,166589
398,006257400,Ostprignitz-Ruppin,315287,328281,319054,335824,333899,252982,174250,184274,...,281827,213435,154810,297024,293352,299084,305449,319235,227172,176080
401,006250500,Elbe-Elster,347018,353518,349163,356267,362724,250908,177327,159509,...,301130,199929,141457,310277,303480,321195,312547,323197,208161,164854
424,006252300,Frankfurt (Oder),230044,225024,220986,226586,243573,177224,145933,148878,...,129914,96714,78922,138674,139368,142186,141046,139375,93103,82698
451,006273800,Prignitz,274969,278629,272059,283488,287953,223435,151696,155779,...,256933,201039,133730,259207,253115,264703,269883,283440,197170,148480
474,006247000,Brandenburg an der Havel,193133,199461,197526,203603,201855,150034,102403,136395,...,215273,176748,128847,216781,216209,225884,237519,237904,181247,138282

In [5]:
#because the upper 5 in the df are all located in berlin, we can write them into a df just for berlin
berlin_data=rbb_data.iloc[:5][:]
#all other ids are then in brandenburg
brandenburg_data=rbb_data.iloc[5:][:]
#also we get an entire df for germany by just looking for the first row of the original set
total_germany_data=pd.DataFrame(data.iloc[0][:]).transpose()
total_germany_data

,locationId,name,2019-03 (March) 1. Avg. Monday,2019-03 (March) 2. Avg. Tuesday,2019-03 (March) 3. Avg. Wednesday,2019-03 (March) 4. Avg. Thursday,2019-03 (March) 5. Avg. Friday,2019-03 (March) 6. Avg. Saturday,2019-03 (March) 7. Avg. Sunday,2020-03-01,...,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26
0,total,NaN,182350060,188811974,190373460,193792045,198876941,160606841,116148663,116201839,...,144002882,115711861,88189650,146395254,147265935,150204952,153007283,152314450,122943060,95415898

In [6]:
#here we define three crucial functions

def avg_extactor(dfname):
    #to get a list of the columnnames with the average in the name for the given dataframe
    avg_cols = [col for col in dfname.columns if 'Avg' in col]
    #we add the locationId
    avg_cols.extend(['locationId'])
    #and then we create this average dataframe by filtering
    avg_df=dfname[avg_cols]
    #and return the df but also the name of the columns
    return avg_df, avg_cols

In [7]:
def current_extractor(dfname):
    #this is the exact opposite, we filte for all columnames without "Avg"
    current_cols = [col for col in dfname.columns if 'Avg' not in col]
    #and create a dataframe of the current time from this
    current_df=dfname[current_cols]
    #and return the df but also the name of the columns

    return current_df,current_cols

In [8]:
def day_by_day(dfname,since_when,df_column):
    #we take in a dataframe and ask for the name of the column
    #to create a dataframe that only contains this name at the start
    time_df=pd.DataFrame({"name":[df_column]})
    
    #then we get from this dataframe only the current data without the past averages and the column names
    current_df_specs=current_extractor(dfname)
    current_cols=current_df_specs[1]
    current_df=current_df_specs[0]
    
    #and we get the averages without the current data
    avg_df_specs=avg_extactor(dfname)
    avg_cols=avg_df_specs[1]
    avg_df=avg_df_specs[0]

    #now we iterate through the list of columnnames from the current df
    #these are different days for which we know the number of movements
    for day in current_cols[since_when:]:
        #we retrieve the date
        date=pd.to_datetime(day,format="%Y-%m-%d")
        print(date)
        #and get the name of the weekday
        weekday=date.day_name()
        print(weekday)
        #now we find in our dataframe of past averages the corresponding column name with this weekday
        avg_col_def = [col for col in avg_df.columns if weekday  in col]
        
        #so that we have the sum of values for that day in the average df
        print(avg_df[avg_col_def[0]].sum())
        
        #and that we have the sum of values for that day in the current df
        print(current_df[day].sum())
        
        #we calculate the ratio and save it in the dataframe under the columnname of that day
        time_df[day]=(current_df[day].sum()/avg_df[avg_col_def[0]].sum()*100)-100
    
    #we transpose
    time_df=time_df.transpose()
    
    #take the name from the first row as the columnames
    time_df.columns = time_df.iloc[0]
    #then drop this row, reset the indext and return the df
    time_df=time_df.drop(time_df.index[0])
    time_df=time_df.reset_index()
    return time_df

In [9]:
germandf=day_by_day(total_germany_data,10,"Deutschland")

2020-03-09 00:00:00
Monday
182350060
191550250
2020-03-10 00:00:00
Tuesday
188811974
184228613
2020-03-11 00:00:00
Wednesday
190373460
188530314
2020-03-12 00:00:00
Thursday
193792045
193902963
2020-03-13 00:00:00
Friday
198876941
195296920
2020-03-14 00:00:00
Saturday
160606841
144953078
2020-03-15 00:00:00
Sunday
116148663
105306027
2020-03-16 00:00:00
Monday
182350060
170314658
2020-03-17 00:00:00
Tuesday
188811974
155197287
2020-03-18 00:00:00
Wednesday
190373460
147702861
2020-03-19 00:00:00
Thursday
193792045
140477852
2020-03-20 00:00:00
Friday
198876941
135661695
2020-03-21 00:00:00
Saturday
160606841
86817423
2020-03-22 00:00:00
Sunday
116148663
64857488
2020-03-23 00:00:00
Monday
182350060
118492268
2020-03-24 00:00:00
Tuesday
188811974
117781133
2020-03-25 00:00:00
Wednesday
190373460
117908531
2020-03-26 00:00:00
Thursday
193792045
119916054
2020-03-27 00:00:00
Friday
198876941
125055213
2020-03-28 00:00:00
Saturday
160606841
99244374
2020-03-29 00:00:00
Sunday
116148663
52036270
2020-03-30 00:00:00
Monday
182350060
117563349
2020-03-31 00:00:00
Tuesday
188811974
121926057
2020-04-01 00:00:00
Wednesday
190373460
124025967
2020-04-02 00:00:00
Thursday
193792045
128146403
2020-04-03 00:00:00
Friday
198876941
126651776
2020-04-04 00:00:00
Saturday
160606841
104033872
2020-04-05 00:00:00
Sunday
116148663
83145105
2020-04-06 00:00:00
Monday
182350060
135301638
2020-04-07 00:00:00
Tuesday
188811974
131052153
2020-04-08 00:00:00
Wednesday
190373460
135430719
2020-04-09 00:00:00
Thursday
193792045
139468274
2020-04-10 00:00:00
Friday
198876941
84430944
2020-04-11 00:00:00
Saturday
160606841
117230590
2020-04-12 00:00:00
Sunday
116148663
90988781
2020-04-13 00:00:00
Monday
182350060
73171839
2020-04-14 00:00:00
Tuesday
188811974
131731694
2020-04-15 00:00:00
Wednesday
190373460
136761814
2020-04-16 00:00:00
Thursday
193792045
143209307
2020-04-17 00:00:00
Friday
198876941
144002882
2020-04-18 00:00:00
Saturday
160606841
115711861
2020-04-19 00:00:00
Sunday
116148663
88189650
2020-04-20 00:00:00
Monday
182350060
146395254
2020-04-21 00:00:00
Tuesday
188811974
147265935
2020-04-22 00:00:00
Wednesday
190373460
150204952
2020-04-23 00:00:00
Thursday
193792045
153007283
2020-04-24 00:00:00
Friday
198876941
152314450
2020-04-25 00:00:00
Saturday
160606841
122943060
2020-04-26 00:00:00
Sunday
116148663
95415898

In [10]:
berlindf=day_by_day(berlin_data,10,"Berlin")

2020-03-09 00:00:00
Monday
11135920
11098118
2020-03-10 00:00:00
Tuesday
11493330
10711136
2020-03-11 00:00:00
Wednesday
11608581
10941526
2020-03-12 00:00:00
Thursday
11731782
10979777
2020-03-13 00:00:00
Friday
11130367
10608857
2020-03-14 00:00:00
Saturday
9515114
7991343
2020-03-15 00:00:00
Sunday
7092897
5496896
2020-03-16 00:00:00
Monday
11135920
9417069
2020-03-17 00:00:00
Tuesday
11493330
8193402
2020-03-18 00:00:00
Wednesday
11608581
7904849
2020-03-19 00:00:00
Thursday
11731782
7065031
2020-03-20 00:00:00
Friday
11130367
6645890
2020-03-21 00:00:00
Saturday
9515114
4972793
2020-03-22 00:00:00
Sunday
7092897
3644062
2020-03-23 00:00:00
Monday
11135920
5939896
2020-03-24 00:00:00
Tuesday
11493330
5909067
2020-03-25 00:00:00
Wednesday
11608581
5939295
2020-03-26 00:00:00
Thursday
11731782
6094335
2020-03-27 00:00:00
Friday
11130367
6220450
2020-03-28 00:00:00
Saturday
9515114
5117028
2020-03-29 00:00:00
Sunday
7092897
2627699
2020-03-30 00:00:00
Monday
11135920
5648690
2020-03-31 00:00:00
Tuesday
11493330
6012775
2020-04-01 00:00:00
Wednesday
11608581
6226455
2020-04-02 00:00:00
Thursday
11731782
6145155
2020-04-03 00:00:00
Friday
11130367
6235874
2020-04-04 00:00:00
Saturday
9515114
5189303
2020-04-05 00:00:00
Sunday
7092897
4370324
2020-04-06 00:00:00
Monday
11135920
6853002
2020-04-07 00:00:00
Tuesday
11493330
6867292
2020-04-08 00:00:00
Wednesday
11608581
7056569
2020-04-09 00:00:00
Thursday
11731782
7022251
2020-04-10 00:00:00
Friday
11130367
4460371
2020-04-11 00:00:00
Saturday
9515114
5691970
2020-04-12 00:00:00
Sunday
7092897
5202200
2020-04-13 00:00:00
Monday
11135920
3546412
2020-04-14 00:00:00
Tuesday
11493330
6560860
2020-04-15 00:00:00
Wednesday
11608581
6692063
2020-04-16 00:00:00
Thursday
11731782
7178819
2020-04-17 00:00:00
Friday
11130367
7206218
2020-04-18 00:00:00
Saturday
9515114
6149016
2020-04-19 00:00:00
Sunday
7092897
4702363
2020-04-20 00:00:00
Monday
11135920
7295991
2020-04-21 00:00:00
Tuesday
11493330
7437576
2020-04-22 00:00:00
Wednesday
11608581
7710956
2020-04-23 00:00:00
Thursday
11731782
7881611
2020-04-24 00:00:00
Friday
11130367
7704312
2020-04-25 00:00:00
Saturday
9515114
5931689
2020-04-26 00:00:00
Sunday
7092897
4845779

In [11]:
brandenburgdf=day_by_day(brandenburg_data,10,"Brandenburg")

2020-03-09 00:00:00
Monday
8023205
8058817
2020-03-10 00:00:00
Tuesday
8213901
7963902
2020-03-11 00:00:00
Wednesday
8179733
8049105
2020-03-12 00:00:00
Thursday
8364196
8114026
2020-03-13 00:00:00
Friday
8574742
8208254
2020-03-14 00:00:00
Saturday
6532422
6068464
2020-03-15 00:00:00
Sunday
4617154
3982453
2020-03-16 00:00:00
Monday
8023205
7639300
2020-03-17 00:00:00
Tuesday
8213901
7423301
2020-03-18 00:00:00
Wednesday
8179733
7015429
2020-03-19 00:00:00
Thursday
8364196
6510406
2020-03-20 00:00:00
Friday
8574742
5994885
2020-03-21 00:00:00
Saturday
6532422
4011393
2020-03-22 00:00:00
Sunday
4617154
2812116
2020-03-23 00:00:00
Monday
8023205
5521762
2020-03-24 00:00:00
Tuesday
8213901
5462766
2020-03-25 00:00:00
Wednesday
8179733
5488713
2020-03-26 00:00:00
Thursday
8364196
5654749
2020-03-27 00:00:00
Friday
8574742
5679485
2020-03-28 00:00:00
Saturday
6532422
4185351
2020-03-29 00:00:00
Sunday
4617154
1917034
2020-03-30 00:00:00
Monday
8023205
5236550
2020-03-31 00:00:00
Tuesday
8213901
5418272
2020-04-01 00:00:00
Wednesday
8179733
5556357
2020-04-02 00:00:00
Thursday
8364196
5637043
2020-04-03 00:00:00
Friday
8574742
5693006
2020-04-04 00:00:00
Saturday
6532422
4140827
2020-04-05 00:00:00
Sunday
4617154
3325310
2020-04-06 00:00:00
Monday
8023205
6124960
2020-04-07 00:00:00
Tuesday
8213901
6027415
2020-04-08 00:00:00
Wednesday
8179733
6219574
2020-04-09 00:00:00
Thursday
8364196
6432198
2020-04-10 00:00:00
Friday
8574742
3437324
2020-04-11 00:00:00
Saturday
6532422
4851169
2020-04-12 00:00:00
Sunday
4617154
4114296
2020-04-13 00:00:00
Monday
8023205
2771620
2020-04-14 00:00:00
Tuesday
8213901
5923743
2020-04-15 00:00:00
Wednesday
8179733
5983085
2020-04-16 00:00:00
Thursday
8364196
6426853
2020-04-17 00:00:00
Friday
8574742
6481085
2020-04-18 00:00:00
Saturday
6532422
5090723
2020-04-19 00:00:00
Sunday
4617154
3650794
2020-04-20 00:00:00
Monday
8023205
6505663
2020-04-21 00:00:00
Tuesday
8213901
6561302
2020-04-22 00:00:00
Wednesday
8179733
6805403
2020-04-23 00:00:00
Thursday
8364196
6898449
2020-04-24 00:00:00
Friday
8574742
7034307
2020-04-25 00:00:00
Saturday
6532422
5126376
2020-04-26 00:00:00
Sunday
4617154
3998552

In [13]:
#we did this now for germany, brandenburg and berlin and save this now
basic_linechart=pd.concat([berlindf,brandenburgdf["Brandenburg"],germandf["Deutschland"]],axis=1)
basic_linechart

         index   Berlin Brandenburg Deutschland
0   2020-03-09 -0.33946    0.443863     5.04535
1   2020-03-10 -6.80563    -3.04361    -2.42747
2   2020-03-11 -5.74622    -1.59697   -0.968174
3   2020-03-12 -6.40998    -2.99096   0.0572356
4   2020-03-13 -4.68547    -4.27404    -1.80012
5   2020-03-14 -16.0142    -7.10239    -9.74664
6   2020-03-15 -22.5014    -13.7466    -9.33514
7   2020-03-16 -15.4352    -4.78493    -6.60016
8   2020-03-17 -28.7117    -9.62515    -17.8033
9   2020-03-18 -31.9051     -14.234    -22.4142
10  2020-03-19 -39.7787    -22.1634     -27.511
11  2020-03-20 -40.2905    -30.0867    -31.7861
12  2020-03-21  -47.738    -38.5926    -45.9441
13  2020-03-22 -48.6238    -39.0942    -44.1599
14  2020-03-23   -46.66    -31.1776    -35.0193
15  2020-03-24  -48.587    -33.4936    -37.6199
16  2020-03-25  -48.837    -32.8986    -38.0646
17  2020-03-26 -48.0528    -32.3934    -38.1213
18  2020-03-27 -44.1128    -33.7649    -37.1193
19  2020-03-28 -46.2221    -35.9296    -38.2066
20  2020-03-29 -62.9531    -58.4802    -55.1986
21  2020-03-30  -49.275    -34.7324    -35.5288
22  2020-03-31 -47.6847    -34.0353    -35.4246
23  2020-04-01 -46.3633    -32.0717    -34.8512
24  2020-04-02 -47.6196    -32.6051    -33.8743
25  2020-04-03 -43.9742    -33.6073    -36.3165
26  2020-04-04 -45.4625    -36.6112    -35.2245
27  2020-04-05 -38.3845    -27.9792    -28.4149
28  2020-04-06 -38.4604    -23.6594    -25.8012
29  2020-04-07 -40.2498    -26.6193    -30.5912
30  2020-04-08 -39.2125    -23.9636    -28.8605
31  2020-04-09 -40.1434    -23.0984     -28.032
32  2020-04-10 -59.9261    -59.9134    -57.5461
33  2020-04-11 -40.1797    -25.7371    -27.0077
34  2020-04-12 -26.6562    -10.8911    -21.6618
35  2020-04-13 -68.1534     -65.455    -59.8729
36  2020-04-14 -42.9159    -27.8815    -30.2313
37  2020-04-15 -42.3524    -26.8548    -28.1613
38  2020-04-16 -38.8088    -23.1623    -26.1016
39  2020-04-17 -35.2562    -24.4166     -27.592
40  2020-04-18 -35.3763    -22.0699    -27.9533
41  2020-04-19 -33.7032    -20.9298    -24.0717
42  2020-04-20 -34.4824    -18.9144    -19.7175
43  2020-04-21 -35.2879    -20.1195    -22.0039
44  2020-04-22 -33.5754    -16.8016    -21.0998
45  2020-04-23 -32.8183    -17.5241    -21.0456
46  2020-04-24 -30.7812    -17.9648    -23.4127
47  2020-04-25 -37.6603    -21.5241    -23.4509
48  2020-04-26 -31.6812    -13.3979    -17.8502

In [14]:
basic_linechart.to_csv("linechart_per_day.csv",index=False)

In [15]:
#next we want to do the per week calc but first we define the holidays that we have to exclude
holidays=["2020-04-10","2020-04-13"]

In [16]:
#also we define the current cols from anew
current_df=current_extractor(rbb_data)[0]

current_cols=current_extractor(rbb_data)[1]

avg_df_specs=avg_extactor(rbb_data)
avg_cols=avg_df_specs[1]
avg_df=avg_df_specs[0]
avg_df

,2019-03 (March) 1. Avg. Monday,2019-03 (March) 2. Avg. Tuesday,2019-03 (March) 3. Avg. Wednesday,2019-03 (March) 4. Avg. Thursday,2019-03 (March) 5. Avg. Friday,2019-03 (March) 6. Avg. Saturday,2019-03 (March) 7. Avg. Sunday,locationId
1,2986743,3097456,3126015,3186805,3029614,2550938,1920031,006242203
2,2490376,2582137,2622440,2627757,2443969,2064809,1496433,006242201
4,2045961,2106124,2120735,2131000,2047040,1818545,1365885,006242204
7,1748355,1798948,1809530,1836606,1756017,1498197,1162331,006242200
8,1864485,1908665,1929861,1949614,1853727,1582625,1148217,006242202
46,664177,685908,687605,694247,698194,530217,380235,006235300
64,650459,654718,656690,670497,705534,559657,410370,006237600
99,627919,648948,647065,657476,664933,530151,381196,006248800
100,601355,612231,610757,628899,647069,511007,357050,031824800
102,593789,613243,613853,617808,626657,461214,325969,006236400
163,484202,501719,505409,507206,522929,385408,265043,006236900
164,483642,494549,496624,502601,537658,445599,288626,006241300
166,545836,562964,557794,564787,576084,436834,307686,006262800
168,518778,534149,528584,541711,554021,445535,312993,006255300
203,417491,414064,407484,422676,442531,308309,246194,006268300
309,334691,346769,345822,357004,352592,257676,179643,006257100
315,382819,391646,391373,403838,401831,280422,191326,006243000
366,357596,368080,371885,389678,414705,325810,219214,006253700
398,315287,328281,319054,335824,333899,252982,174250,006257400
401,347018,353518,349163,356267,362724,250908,177327,006250500
424,230044,225024,220986,226586,243573,177224,145933,006252300
451,274969,278629,272059,283488,287953,223435,151696,006273800
474,193133,199461,197526,203603,201855,150034,102403,006247000

In [17]:
#we define the timespan we want to look at
timespan_cols=current_cols[10:]
#and calculate how many weeks this includes
numberofweeks=math.ceil(len(timespan_cols)/7)
timespan_cols

['2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26']

In [19]:
#and then we create a dataframe for the last weeks
#by taking the locationid and the name from the current df first

weekdict={"locationId":current_df["locationId"].tolist(),"name": current_df["name"].tolist()}
#and we iterate through the last weeks
for weeknumber in range(0,numberofweeks,1):
    
    #we create for each week a df
    lastweeks=pd.DataFrame()
    
    #that takes in locationId and name
    lastweeks[["locationId","name"]]=current_df[["locationId","name"]]
    print(weeknumber)
    #and also we save the name of the first day of that week
    firstday=timespan_cols[weeknumber*7]
    
    #now we iterate through the 7 days of that week
    for day in timespan_cols[weeknumber*7:(weeknumber+1)*7]:
        
        #if this day is in our holiday list we exclude it
        if (day) in (holidays):
            pass
        else:
            #else we retrieve the weekday
            print(day)
            date=pd.to_datetime(day,format="%Y-%m-%d")
            weekday=date.day_name()
            print(weekday)
            
            #and get from the 2019 avg dataframe the data for the corresponding day
            avg_col_def = [col for col in avg_df.columns if weekday in col]

            #then we get the ratio of movement on that day in reference to the 2019 avg
            lastweeks[weekday]=(current_df[day]/avg_df[avg_col_def[0]]*100)-100
    #and end up with this dataframe
    print(lastweeks)
    
    #we take all the columnnames except locationId and name
    listofcolumns=lastweeks.columns.tolist()
    
    #and make a horizontal mean
    mean= lastweeks[listofcolumns[2:]].mean(axis=1)
    print(mean)
    #and we save this mean to the dictionary
    weekdict[firstday]=mean.tolist()
#and create a dataframe
meandf=pd.DataFrame(weekdict)


meandf

0
2020-03-09
Monday
2020-03-10
Tuesday
2020-03-11
Wednesday
2020-03-12
Thursday
2020-03-13
Friday
2020-03-14
Saturday
2020-03-15
Sunday
    locationId                               name     Monday    Tuesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg  -2.346235  -9.006359
2    006242201       Berlin - Steglitz-Zehlendorf  -0.141224  -6.605808
4    006242204      Berlin - Tempelhof-Schöneberg   0.162320  -6.359502
7    006242200             Berlin - Reinickendorf  -0.160665  -7.058959
8    006242202               Berlin - Lichtenberg   1.892158  -3.758072
46   006235300                 Potsdam-Mittelmark   1.923734  -3.253060
64   006237600                    Dahme-Spreewald  -8.970588 -10.733629
99   006248800                          Oberhavel  -2.949744  -8.065053
100  031824800                  Märkisch-Oderland   2.468592  -1.772044
102  006236400                     Teltow-Fläming  -0.498494  -4.142893
163  006236900                            Potsdam   5.079079  -2.470108
164  006241300                          Havelland   4.345570  -1.058136
166  006262800                         Oder-Spree  -4.204010  -7.724473
168  006255300                             Barnim   4.291238   0.952356
203  006268300                        Spree-Neiße  -0.108984  -0.936570
309  006257100              Oberspreewald-Lausitz  -8.454365 -11.289937
315  006243000                            Cottbus   0.862026  -1.768178
366  006253700                          Uckermark  -0.515386  -2.592643
398  006257400                 Ostprignitz-Ruppin   3.434966   4.627133
401  006250500                        Elbe-Elster  -4.688806  -6.319056
424  006252300                   Frankfurt (Oder)  -2.195667  -5.534965
451  006273800                           Prignitz   5.643545   3.095155
474  006247000           Brandenburg an der Havel  33.740997  28.919438

     Wednesday   Thursday     Friday   Saturday     Sunday
1    -8.043691 -10.859560 -12.077842 -24.909817 -33.490345
2    -6.033846  -6.374296  -3.639694 -17.010726 -21.319431
4    -4.454823  -4.325293  -2.153597 -12.218394 -20.207704
7    -5.352219  -5.797324  -3.244103 -13.344040 -19.191521
8    -3.422474  -2.040660   1.856099  -7.265208 -11.745341
46   -3.132176  -2.199361  -1.854356  -5.304998  -9.163281
64  -10.206795 -11.912954 -14.917353 -18.142362 -24.608768
99   -5.847017  -6.546855  -8.439647 -11.666110 -11.741466
100  -0.891844  -1.493245  -0.924631  -3.500343 -10.896793
102  -3.214776  -3.248906  -3.906124  -6.720308 -11.709396
163  -1.569620  -1.566030  -8.107984 -13.572630 -13.053354
164   1.137480   0.404297  -4.752463  -8.870756 -14.584618
166  -5.816484  -7.345424  -7.075704  -9.602961 -11.897194
168   4.284844   0.860422   0.765314   3.305913  -0.124603
203   1.052311  -0.511976  -2.771557  -4.485759 -28.354468
309 -11.367120 -11.216961 -12.219789 -21.747854 -22.601493
315  -0.182435  -2.344257  -1.943603  -8.191583 -15.304245
366  -4.092932  -7.734848  -6.804596  -9.787913 -29.543734
398   5.874554   1.840250   0.982932   2.964638  -6.005165
401  -3.513832  -4.910362  -6.566701 -14.979594 -19.654085
424  -4.957780  -7.424113  -7.076729  -3.844287 -26.244235
451   7.813379   4.493665   3.565165   3.618950  -4.805664
474  34.026913  28.207836  30.539744  32.682592  31.257873
1     -14.390550
2      -8.732146
4      -7.079571
7      -7.735547
8      -3.497643
46     -3.283357
64    -14.213207
99     -7.893699
100    -2.430044
102    -4.777271
163    -5.037235
164    -3.339804
166    -7.666607
168     2.047926
203    -5.159572
309   -14.128217
315    -4.124611
366    -8.724579
398     1.959901
401    -8.661777
424    -8.182539
451     3.346314
474    31.339342
dtype: float64
1
2020-03-16
Monday
2020-03-17
Tuesday
2020-03-18
Wednesday
2020-03-19
Thursday
2020-03-20
Friday
2020-03-21
Saturday
2020-03-22
Sunday
    locationId                               name     Monday    Tuesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg -25.996043 -39.634138
2    006242201       Berlin - Steglitz-Zehlendorf -15.164096 -28.457669
4    006242204      Berlin - Tempelhof-Schöneberg -12.229999 -25.172449
7    006242200             Berlin - Reinickendorf -12.162862 -25.761334
8    006242202               Berlin - Lichtenberg  -5.465423 -18.016048
46   006235300                 Potsdam-Mittelmark  -3.348957 -10.257061
64   006237600                    Dahme-Spreewald -15.448014 -20.984913
99   006248800                          Oberhavel  -8.104708 -15.025857
100  031824800                  Märkisch-Oderland  -4.380441 -10.159891
102  006236400                     Teltow-Fläming  -5.280327 -11.945672
163  006236900                            Potsdam  -9.528874 -18.129870
164  006241300                          Havelland  -1.318744  -8.226687
166  006262800                         Oder-Spree  -8.377242 -11.441584
168  006255300                             Barnim   1.610130  -5.661716
203  006268300                        Spree-Neiße  -6.663138  -4.333388
309  006257100              Oberspreewald-Lausitz -11.124590 -13.632995
315  006243000                            Cottbus  -3.658387 -10.486766
366  006253700                          Uckermark  -4.360228   0.045371
398  006257400                 Ostprignitz-Ruppin   2.664874  -1.957469
401  006250500                        Elbe-Elster  -8.401581 -12.399369
424  006252300                   Frankfurt (Oder) -11.889899 -12.751973
451  006273800                           Prignitz   5.336965   4.053060
474  006247000           Brandenburg an der Havel  33.850248  25.166825

     Wednesday   Thursday     Friday   Saturday     Sunday
1   -43.570648 -51.292250 -52.489327 -59.050279 -59.638204
2   -32.314333 -39.419931 -39.023326 -47.842440 -47.419163
4   -27.427283 -35.902628 -36.927906 -44.347542 -45.992305
7   -28.105254 -36.511478 -37.071053 -43.315999 -45.726217
8   -20.936741 -28.756974 -28.786979 -37.449870 -37.839102
46  -16.636732 -23.261318 -28.202190 -34.112637 -35.740792
64  -24.919825 -32.903205 -39.789861 -49.044861 -50.881156
99  -21.576040 -28.971096 -31.187052 -36.584294 -37.883399
100 -14.108885 -21.777106 -26.688189 -33.849243 -34.585072
102 -16.831880 -23.023334 -26.494558 -34.475319 -35.838070
163 -27.281073 -34.281732 -42.480145 -48.470193 -46.047622
164 -18.051081 -22.763982 -29.853364 -42.028146 -40.520258
166 -14.737340 -22.096649 -32.956479 -39.475636 -38.142457
168  -9.674148 -18.615830 -22.859783 -24.193385 -21.052867
203   2.614336 -13.440792 -32.303726 -45.714851 -54.986312
309 -20.300617 -26.254048 -30.174820 -45.590587 -47.660638
315  -9.723461 -24.701242 -33.576056 -42.319076 -43.427448
366  13.998413  -1.533830 -33.667788 -49.527639 -45.600646
398  -9.644135 -18.761018 -21.081824 -31.091935 -27.968436
401 -19.841449 -22.264481 -27.603908 -39.631658 -40.828526
424 -25.663164 -27.067427 -46.402926 -52.192141 -56.310088
451  -6.831974 -12.685193 -15.368828 -30.005147 -28.828051
474  12.456588   3.835896  -2.617721  -6.222590  -2.232356
1     -47.381556
2     -35.662994
4     -32.571445
7     -32.664885
8     -25.321591
46    -21.651384
64    -33.424548
99    -25.618921
100   -20.792689
102   -21.984166
163   -32.317073
164   -23.251752
166   -23.889627
168   -14.349657
203   -22.118267
309   -27.819756
315   -23.984634
366   -17.235192
398   -15.405706
401   -24.424425
424   -33.182517
451   -12.047024
474     9.176699
dtype: float64
2
2020-03-23
Monday
2020-03-24
Tuesday
2020-03-25
Wednesday
2020-03-26
Thursday
2020-03-27
Friday
2020-03-28
Saturday
2020-03-29
Sunday
    locationId                               name     Monday    Tuesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg -57.337106 -59.236160
2    006242201       Berlin - Steglitz-Zehlendorf -46.590595 -48.536619
4    006242204      Berlin - Tempelhof-Schöneberg -43.904405 -45.812735
7    006242200             Berlin - Reinickendorf -43.492254 -45.023036
8    006242202               Berlin - Lichtenberg -35.643355 -37.793589
46   006235300                 Potsdam-Mittelmark -30.926244 -32.973518
64   006237600                    Dahme-Spreewald -40.124128 -41.077685
99   006248800                          Oberhavel -34.470688 -35.211142
100  031824800                  Märkisch-Oderland -28.888760 -30.571304
102  006236400                     Teltow-Fläming -29.120782 -31.913613
163  006236900                            Potsdam -43.987840 -46.443328
164  006241300                          Havelland -31.313244 -31.791592
166  006262800                         Oder-Spree -33.875376 -36.879268
168  006255300                             Barnim -24.788252 -27.902327
203  006268300                        Spree-Neiße -31.329059 -33.508105
309  006257100              Oberspreewald-Lausitz -31.784243 -36.458565
315  006243000                            Cottbus -35.769646 -39.803292
366  006253700                          Uckermark -24.581651 -28.726636
398  006257400                 Ostprignitz-Ruppin -22.829359 -25.313070
401  006250500                        Elbe-Elster -29.935047 -32.765234
424  006252300                   Frankfurt (Oder) -39.348994 -41.473354
451  006273800                           Prignitz -19.372002 -21.498121
474  006247000           Brandenburg an der Havel  -6.404395  -9.424900

     Wednesday   Thursday     Friday   Saturday     Sunday
1   -59.445204 -59.407840 -56.662334 -58.982970 -70.358760
2   -49.282005 -48.181890 -43.450265 -46.573267 -62.766325
4   -45.938130 -44.708588 -40.710734 -43.248586 -59.835125
7   -44.952944 -44.200389 -39.979112 -40.658605 -62.297401
8   -37.876614 -36.602374 -32.148801 -33.878967 -55.185649
46  -32.728674 -31.065024 -30.794450 -30.263081 -57.542835
64  -40.296639 -40.700108 -42.929327 -46.237070 -67.035115
99  -35.300627 -35.331632 -34.547390 -35.133764 -59.256131
100 -29.598515 -28.563728 -30.167880 -30.046751 -55.600336
102 -31.223762 -28.728667 -29.896099 -30.065219 -56.105028
163 -46.976805 -45.367168 -46.792777 -44.090418 -65.856484
164 -32.718918 -31.050276 -34.355668 -39.672441 -59.565666
166 -36.274144 -34.668468 -35.520688 -35.140122 -57.686733
168 -26.516315 -25.588367 -23.594773 -16.618672 -49.452863
203 -31.658176 -29.542960 -37.196490 -43.455754 -65.452448
309 -36.400807 -36.683903 -36.436731 -45.453981 -60.468819
315 -38.802881 -40.496932 -38.244685 -38.140018 -58.329762
366 -29.760544 -30.436925 -39.794312 -50.630122 -64.169715
398 -23.617005 -26.926902 -26.787741 -35.437699 -55.347489
401 -32.219909 -31.464323 -31.262613 -40.797025 -55.950306
424 -38.200157 -39.137016 -47.363624 -52.055026 -68.082613
451 -18.412183 -22.373787 -20.142871 -28.876407 -47.300522
474  -9.263084  -8.973345  -6.117262  -2.212165 -30.654375
1     -60.204339
2     -49.340138
4     -46.308329
7     -45.800534
8     -38.447050
46    -35.184832
64    -45.485725
99    -38.464482
100   -33.348182
102   -33.864739
163   -48.502117
164   -37.209687
166   -38.577828
168   -27.780224
203   -38.877570
309   -40.526721
315   -41.369602
366   -38.299986
398   -30.894181
401   -36.342065
424   -46.522969
451   -25.425127
474   -10.435647
dtype: float64
3
2020-03-30
Monday
2020-03-31
Tuesday
2020-04-01
Wednesday
2020-04-02
Thursday
2020-04-03
Friday
2020-04-04
Saturday
2020-04-05
Sunday
    locationId                               name     Monday    Tuesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg -59.647449 -58.241634
2    006242201       Berlin - Steglitz-Zehlendorf -49.142138 -48.059456
4    006242204      Berlin - Tempelhof-Schöneberg -46.424785 -44.414289
7    006242200             Berlin - Reinickendorf -46.394811 -44.340637
8    006242202               Berlin - Lichtenberg -38.665422 -36.805830
46   006235300                 Potsdam-Mittelmark -33.474812 -32.957190
64   006237600                    Dahme-Spreewald -42.813921 -40.663156
99   006248800                          Oberhavel -35.900650 -37.101124
100  031824800                  Märkisch-Oderland -32.492787 -30.484245
102  006236400                     Teltow-Fläming -31.842119 -30.962115
163  006236900                            Potsdam -47.593773 -46.094926
164  006241300                          Havelland -34.110768 -32.774103
166  006262800                         Oder-Spree -37.362688 -37.514299
168  006255300                             Barnim -30.239524 -28.870034
203  006268300                        Spree-Neiße -34.787816 -35.767659
309  006257100              Oberspreewald-Lausitz -34.445503 -36.691284
315  006243000                            Cottbus -37.764844 -38.852944
366  006253700                          Uckermark -34.835960 -37.032167
398  006257400                 Ostprignitz-Ruppin -29.105862 -27.666846
401  006250500                        Elbe-Elster -32.110438 -30.879333
424  006252300                   Frankfurt (Oder) -44.275878 -45.092968
451  006273800                           Prignitz -22.426892 -16.205061
474  006247000           Brandenburg an der Havel -12.072510  -8.471832

     Wednesday   Thursday     Friday   Saturday     Sunday
1   -57.384498 -59.065804 -56.609258 -57.693523 -52.109940
2   -47.160774 -48.002117 -43.166055 -46.115646 -37.714752
4   -42.347771 -43.053543 -39.833565 -41.496471 -34.422298
7   -42.988898 -44.250264 -40.902850 -40.694849 -35.049310
8   -35.004283 -36.559134 -31.871791 -33.966606 -24.395389
46  -30.607689 -31.460993 -29.598221 -31.125747 -23.023393
64  -39.390580 -40.007785 -42.319860 -48.471117 -42.373468
99  -35.443116 -33.949984 -34.271122 -35.162435 -25.937575
100 -28.402458 -29.921816 -30.100036 -31.173937 -19.797787
102 -28.877435 -28.119416 -28.934968 -30.403457 -22.328504
163 -43.681454 -45.496504 -46.708827 -47.756404 -35.170520
164 -31.412699 -31.094646 -34.592250 -40.451617 -31.368969
166 -35.460044 -33.421095 -33.940016 -35.864653 -22.872019
168 -26.589151 -27.113719 -27.354378 -22.850281  -6.719959
203 -33.004731 -34.365803 -39.126298 -43.917304 -45.635150
309 -33.953016 -33.123438 -33.363207 -42.652401 -34.780648
315 -36.035700 -40.026941 -38.287240 -40.562438 -27.931384
366 -37.647660 -38.569024 -40.682413 -49.830883 -42.068937
398 -26.359174 -25.047942 -25.765576 -31.254793 -25.982783
401 -29.027990 -26.417827 -26.856508 -36.000048 -27.742532
424 -44.883839 -48.416054 -50.873044 -52.832009 -54.466091
451 -11.651884 -20.760667 -23.133984 -28.354107 -24.736974
474  -4.944159  -5.133028  -3.913205   0.813816  18.619572
1     -57.250301
2     -45.622991
4     -41.713246
7     -42.088803
8     -33.895494
46    -30.321149
64    -42.291412
99    -33.966572
100   -28.910438
102   -28.781145
163   -44.643201
164   -33.686436
166   -33.776402
168   -24.248150
203   -38.086394
309   -35.572786
315   -37.065927
366   -40.095292
398   -27.311854
401   -29.862097
424   -48.691412
451   -21.038510
474    -2.157335
dtype: float64

4
2020-04-06
Monday
2020-04-07
Tuesday
2020-04-08
Wednesday
2020-04-09
Thursday
2020-04-11
Saturday
2020-04-12
Sunday
    locationId                               name     Monday    Tuesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg -50.963039 -52.712839
2    006242201       Berlin - Steglitz-Zehlendorf -38.441384 -40.407112
4    006242204      Berlin - Tempelhof-Schöneberg -33.717456 -35.833598
7    006242200             Berlin - Reinickendorf -34.771028 -36.335514
8    006242202               Berlin - Lichtenberg -27.121752 -28.373601
46   006235300                 Potsdam-Mittelmark -21.930299 -24.788456
64   006237600                    Dahme-Spreewald -32.524879 -34.107356
99   006248800                          Oberhavel -23.108872 -26.756843
100  031824800                  Märkisch-Oderland -19.489320 -21.852536
102  006236400                     Teltow-Fläming -20.986243 -23.697131
163  006236900                            Potsdam -37.170231 -39.167143
164  006241300                          Havelland -21.480144 -22.937869
166  006262800                         Oder-Spree -24.709437 -30.326806
168  006255300                             Barnim -15.486586 -18.810669
203  006268300                        Spree-Neiße -29.277996 -29.108785
309  006257100              Oberspreewald-Lausitz -24.270148 -26.959157
315  006243000                            Cottbus -29.689749 -30.502546
366  006253700                          Uckermark -27.548686 -37.285916
398  006257400                 Ostprignitz-Ruppin -13.164196 -19.918606
401  006250500                        Elbe-Elster -21.870335 -24.030742
424  006252300                   Frankfurt (Oder) -42.979169 -45.268505
451  006273800                           Prignitz -12.701432 -13.761310
474  006247000           Brandenburg an der Havel   6.109779   1.011225

     Wednesday   Thursday   Saturday     Sunday
1   -52.048919 -53.283900 -53.951684 -43.679659
2   -39.813304 -40.203832 -40.476044 -25.127620
4   -34.723716 -35.087283 -35.475009 -23.273702
7   -34.876073 -36.213265 -35.494665 -22.574637
8   -26.602123 -27.811300 -27.435937  -8.337448
46  -22.954894 -21.571573 -19.599711  -3.107552
64  -30.825960 -32.134223 -38.394409 -28.117065
99  -23.885236 -24.091830 -22.903286  -7.021060
100 -18.505232 -18.052342 -19.353160   0.035009
102 -21.367819 -21.165799 -19.935214  -7.629867
163 -38.098847 -39.309866 -40.300668 -19.239897
164 -21.027981 -20.477874 -30.257025 -13.778038
166 -26.659484 -22.748753 -23.219118  -3.044987
168 -14.019153 -15.516576 -10.866262  19.967859
203 -26.941426 -24.186848 -37.956077 -37.242175
309 -26.370503 -27.157119 -34.310141 -22.811910
315 -28.764631 -29.718352 -28.439637 -13.067226
366 -34.456620 -27.383891 -39.368344 -27.383744
398 -14.949820 -15.452737 -17.222174  -5.738881
401 -21.858845 -18.496240 -18.783777  -7.143300
424 -44.558026 -38.349236 -55.701259 -58.691317
451  -9.200210 -11.940188 -15.274241  -5.989611
474   3.977704   7.463053  17.853953  47.444899
1     -51.106673
2     -37.411549
4     -33.018461
7     -33.377530
8     -24.280360
46    -18.992081
64    -32.683982
99    -21.294521
100   -16.202930
102   -19.130346
163   -35.547775
164   -21.659822
166   -21.784764
168    -9.121898
203   -30.785551
309   -26.979830
315   -26.697024
366   -32.237867
398   -14.407736
401   -18.697207
424   -47.591252
451   -11.477832
474    13.976769
dtype: float64
5
2020-04-14
Tuesday
2020-04-15
Wednesday
2020-04-16
Thursday
2020-04-17
Friday
2020-04-18
Saturday
2020-04-19
Sunday
    locationId                               name    Tuesday  Wednesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg -54.251134 -53.800286
2    006242201       Berlin - Steglitz-Zehlendorf -42.924214 -42.768071
4    006242204      Berlin - Tempelhof-Schöneberg -38.419960 -38.011397
7    006242200             Berlin - Reinickendorf -40.009550 -38.599747
8    006242202               Berlin - Lichtenberg -32.209948 -31.533411
46   006235300                 Potsdam-Mittelmark -26.752422 -25.562641
64   006237600                    Dahme-Spreewald -36.571470 -35.222251
99   006248800                          Oberhavel -28.752073 -27.569255
100  031824800                  Märkisch-Oderland -24.329216 -22.796300
102  006236400                     Teltow-Fläming -26.307679 -24.598723
163  006236900                            Potsdam -42.574628 -41.796446
164  006241300                          Havelland -25.150996 -25.149006
166  006262800                         Oder-Spree -29.033118 -27.715429
168  006255300                             Barnim -23.604837 -20.749966
203  006268300                        Spree-Neiße -29.594700 -30.268428
309  006257100              Oberspreewald-Lausitz -28.309047 -27.781344
315  006243000                            Cottbus -35.971004 -34.644444
366  006253700                          Uckermark -28.359324 -30.678570
398  006257400                 Ostprignitz-Ruppin -19.855551 -17.862807
401  006250500                        Elbe-Elster -22.886529 -22.135793
424  006252300                   Frankfurt (Oder) -39.714430 -41.649245
451  006273800                           Prignitz -14.986236  -9.292837
474  006247000           Brandenburg an der Havel   0.175974   0.077458

      Thursday     Friday   Saturday     Sunday
1   -51.568860 -48.922569 -49.521588 -47.473088
2   -38.975065 -34.512795 -35.633223 -32.452439
4   -33.890099 -30.370730 -30.812930 -29.616036
7   -34.676572 -31.376803 -29.977566 -30.596878
8   -26.996318 -22.970966 -22.595688 -20.314017
46  -21.031852 -21.743813 -15.734124 -15.663208
64  -31.383735 -35.118081 -35.353261 -38.721641
99  -23.113391 -23.132255 -19.860945 -18.521968
100 -18.748002 -19.229325 -16.072383 -14.536620
102 -19.832699 -20.407496 -13.506095 -14.594026
163 -37.532285 -39.780544 -34.420406 -29.308075
164 -20.423159 -24.350609 -27.603742 -23.066183
166 -22.429341 -24.138494 -20.758000 -16.451837
168 -15.566787 -15.914559  -6.470872  -2.261712
203 -28.524922 -32.651498 -33.854996 -38.755209
309 -24.521294 -23.766847 -27.915289 -28.161966
315 -31.222668 -31.497570 -28.632204 -24.296227
366 -31.030235 -29.414885 -34.441546 -31.720602
398 -16.067643 -15.595135 -15.632337 -11.156385
401 -17.357488 -16.980955 -20.317806 -20.228166
424 -42.296965 -46.663218 -45.428384 -45.919018
451  -9.654377 -10.772591 -10.023497 -11.843424
474   4.733231   6.647346  17.805297  25.823462
1     -50.922921
2     -37.877634
4     -33.520192
7     -34.206186
8     -26.103391
46    -21.081343
64    -35.395073
99    -23.491648
100   -19.285308
102   -19.874453
163   -37.568731
164   -24.290616
166   -23.421036
168   -14.094789
203   -32.274959
309   -26.742631
315   -31.044020
366   -30.940860
398   -16.028310
401   -19.984456
424   -43.611877
451   -11.095494
474     9.210461
dtype: float64
6
2020-04-20
Monday
2020-04-21
Tuesday
2020-04-22
Wednesday
2020-04-23
Thursday
2020-04-24
Friday
2020-04-25
Saturday
2020-04-26
Sunday
    locationId                               name     Monday    Tuesday  \
1    006242203  Berlin - Friedrichshain-Kreuzberg -46.783905 -47.422304
2    006242201       Berlin - Steglitz-Zehlendorf -34.405367 -35.753022
4    006242204      Berlin - Tempelhof-Schöneberg -30.089772 -30.760202
7    006242200             Berlin - Reinickendorf -30.944688 -31.504524
8    006242202               Berlin - Lichtenberg -23.016704 -23.528435
46   006235300                 Potsdam-Mittelmark -18.276905 -19.041329
64   006237600                    Dahme-Spreewald -30.377933 -28.427659
99   006248800                          Oberhavel -19.387214 -21.899135
100  031824800                  Märkisch-Oderland -15.151117 -15.714003
102  006236400                     Teltow-Fläming -16.106900 -16.557873
163  006236900                            Potsdam -33.273716 -33.943502
164  006241300                          Havelland -17.765413 -19.386957
166  006262800                         Oder-Spree -21.553544 -23.526371
168  006255300                             Barnim -13.257501 -14.679237
203  006268300                        Spree-Neiße -24.404598 -24.237316
309  006257100              Oberspreewald-Lausitz -14.936165 -16.190317
315  006243000                            Cottbus -24.311228 -26.082738
366  006253700                          Uckermark -20.463316 -21.988970
398  006257400                 Ostprignitz-Ruppin  -5.792500 -10.639970
401  006250500                        Elbe-Elster -10.587635 -14.154300
424  006252300                   Frankfurt (Oder) -39.718489 -38.065273
451  006273800                           Prignitz  -5.732283  -9.156979
474  006247000           Brandenburg an der Havel  12.244412   8.396629

     Wednesday   Thursday     Friday   Saturday     Sunday
1   -45.825916 -45.487283 -45.376375 -51.605605 -46.401022
2   -34.354151 -33.202994 -29.324185 -37.164503 -29.761373
4   -28.851884 -27.451431 -27.120574 -34.210756 -28.543911
7   -29.452399 -28.868522 -26.296898 -32.703576 -28.011814
8   -21.730114 -21.178295 -17.138716 -24.485902 -17.015773
46  -15.186481 -15.572988 -14.288579 -15.850114  -7.755467
64  -27.098022 -27.212799 -30.305839 -35.264635 -33.003631
99  -18.598595 -18.329642 -17.040363 -19.100407 -10.581696
100 -13.186586 -15.103220 -14.601225 -16.830494  -8.968492
102 -14.005470 -14.025393 -13.872022 -14.204686  -5.623848
163 -31.721833 -31.802463 -33.277367 -35.782859 -23.865561
164 -16.582565 -15.478680 -17.360850 -21.878415 -15.147630
166 -20.571394 -20.428763 -19.861860 -20.928545  -9.088486
168 -10.591694  -9.163927  -8.525128  -8.533112   3.961750
203 -20.028762 -22.202822 -24.413657 -33.407069 -32.861077
309 -11.822267 -16.494213 -18.538991 -27.668079 -16.725394
315 -21.667054 -23.919492 -23.334685 -29.475219 -18.637822
366 -21.151162 -20.594440 -26.308581 -31.413400 -24.006222
398  -6.259129  -9.044916  -4.391747 -10.202307   1.050215
401  -8.010013 -12.271695 -10.897266 -17.036922  -7.033898
424 -35.658367 -37.751670 -42.778962 -47.465919 -43.331529
451  -2.703825  -4.799145  -1.567270 -11.755097  -2.120030
474  14.356591  16.657908  17.858859  20.803951  35.037059
1     -46.986058
2     -33.423656
4     -29.575504
7     -29.683203
8     -21.156277
46    -15.138838
64    -30.241503
99    -17.848150
100   -14.222162
102   -13.485170
163   -31.952472
164   -17.657216
166   -19.422709
168    -8.684121
203   -25.936472
309   -17.482204
315   -23.918320
366   -23.703727
398    -6.468622
401   -11.427390
424   -40.681458
451    -5.404947
474    17.907916
dtype: float64

,locationId,name,2020-03-09,2020-03-16,2020-03-23,2020-03-30,2020-04-06,2020-04-13,2020-04-20
0,006242203,Berlin - Friedrichshain-Kreuzberg,-14.390550,-47.381556,-60.204339,-57.250301,-51.106673,-50.922921,-46.986058
1,006242201,Berlin - Steglitz-Zehlendorf,-8.732146,-35.662994,-49.340138,-45.622991,-37.411549,-37.877634,-33.423656
2,006242204,Berlin - Tempelhof-Schöneberg,-7.079571,-32.571445,-46.308329,-41.713246,-33.018461,-33.520192,-29.575504
3,006242200,Berlin - Reinickendorf,-7.735547,-32.664885,-45.800534,-42.088803,-33.377530,-34.206186,-29.683203
4,006242202,Berlin - Lichtenberg,-3.497643,-25.321591,-38.447050,-33.895494,-24.280360,-26.103391,-21.156277
5,006235300,Potsdam-Mittelmark,-3.283357,-21.651384,-35.184832,-30.321149,-18.992081,-21.081343,-15.138838
6,006237600,Dahme-Spreewald,-14.213207,-33.424548,-45.485725,-42.291412,-32.683982,-35.395073,-30.241503
7,006248800,Oberhavel,-7.893699,-25.618921,-38.464482,-33.966572,-21.294521,-23.491648,-17.848150
8,031824800,Märkisch-Oderland,-2.430044,-20.792689,-33.348182,-28.910438,-16.202930,-19.285308,-14.222162
9,006236400,Teltow-Fläming,-4.777271,-21.984166,-33.864739,-28.781145,-19.130346,-19.874453,-13.485170
10,006236900,Potsdam,-5.037235,-32.317073,-48.502117,-44.643201,-35.547775,-37.568731,-31.952472
11,006241300,Havelland,-3.339804,-23.251752,-37.209687,-33.686436,-21.659822,-24.290616,-17.657216
12,006262800,Oder-Spree,-7.666607,-23.889627,-38.577828,-33.776402,-21.784764,-23.421036,-19.422709
13,006255300,Barnim,2.047926,-14.349657,-27.780224,-24.248150,-9.121898,-14.094789,-8.684121
14,006268300,Spree-Neiße,-5.159572,-22.118267,-38.877570,-38.086394,-30.785551,-32.274959,-25.936472
15,006257100,Oberspreewald-Lausitz,-14.128217,-27.819756,-40.526721,-35.572786,-26.979830,-26.742631,-17.482204
16,006243000,Cottbus,-4.124611,-23.984634,-41.369602,-37.065927,-26.697024,-31.044020,-23.918320
17,006253700,Uckermark,-8.724579,-17.235192,-38.299986,-40.095292,-32.237867,-30.940860,-23.703727
18,006257400,Ostprignitz-Ruppin,1.959901,-15.405706,-30.894181,-27.311854,-14.407736,-16.028310,-6.468622
19,006250500,Elbe-Elster,-8.661777,-24.424425,-36.342065,-29.862097,-18.697207,-19.984456,-11.427390
20,006252300,Frankfurt (Oder),-8.182539,-33.182517,-46.522969,-48.691412,-47.591252,-43.611877,-40.681458
21,006273800,Prignitz,3.346314,-12.047024,-25.425127,-21.038510,-11.477832,-11.095494,-5.404947
22,006247000,Brandenburg an der Havel,31.339342,9.176699,-10.435647,-2.157335,13.976769,9.210461,17.907916

In [41]:
data
current_df=current_extractor(data)[0]
avg_df=avg_extactor(data)[0]
current_df

,locationId,name,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,...,2020-04-17,2020-04-18,2020-04-19,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26
0,total,NaN,116201839,185628994,190154376,193821419,195220920,198687686,160045062,119144259,...,144002882,115711861,88189650,146395254,147265935,150204952,153007283,152314450,122943060,95415898
1,006242203,Berlin - Friedrichshain-Kreuzberg,1977584,2845162,2914685,3016840,3082283,3011103,2422662,1934171,...,1547449,1287673,1008533,1589428,1628571,1693490,1737214,1654885,1234511,1029117
2,006242201,Berlin - Steglitz-Zehlendorf,1525258,2426619,2443114,2551255,2590222,2513855,1986886,1479310,...,1600487,1329051,1010804,1633553,1658945,1721523,1755263,1727295,1297433,1051074
3,006278201,Hamburg - Hamburg-Nord,1895568,2793630,2844284,2930187,2972990,2887584,2501356,1834401,...,2139121,1738194,1340594,2185529,2227707,2249479,2281320,2234352,1778542,1270702
4,006242204,Berlin - Tempelhof-Schöneberg,1405539,1997409,2020674,2102818,2129750,2102305,1739365,1380393,...,1425339,1258198,961364,1430336,1458276,1508863,1546010,1491871,1196407,976008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,006252600,Dessau-Roßlau - Streetz,22822,49847,50315,51761,52691,52188,34668,24245,...,43921,27604,19070,44486,44195,45450,44871,45600,26242,20123
510,006264000,Bayreuth - Sankt Johannis,21196,34972,34866,36030,36322,36387,24690,21482,...,22316,18323,13355,23460,23210,23964,24317,23999,20742,17384
511,006243701,Siegen-Wittgenstein - Bad Laasphe,31055,53755,53413,55986,54880,58131,44010,33844,...,35945,26494,21069,37384,39002,40073,42157,39920,30184,25456
512,006243700,Siegen-Wittgenstein - Hilchenbach,21308,40226,41188,40105,41798,42179,31529,22825,...,28687,20350,17077,29790,32085,31844,32271,32503,23615,19187
513,006253101,Braunschweig - Wenden-Thune-Harxbüttel,10295,24060,23559,26228,26307,25777,17425,10805,...,17444,11206,7420,18001,17489,18097,18240,18430,11243,8331

In [42]:
#and then we create a dataframe for the last weeks
#by taking the locationid and the name from the current df first

weekdict={"locationId":current_df["locationId"].tolist(),"name": current_df["name"].tolist()}
#and we iterate through the last weeks
for weeknumber in range(0,numberofweeks,1):
    
    #we create for each week a df
    lastweeks=pd.DataFrame()
    
    #that takes in locationId and name
    lastweeks[["locationId","name"]]=current_df[["locationId","name"]]
    print(weeknumber)
    #and also we save the name of the first day of that week
    firstday=timespan_cols[weeknumber*7]
    
    #now we iterate through the 7 days of that week
    for day in timespan_cols[weeknumber*7:(weeknumber+1)*7]:
        
        #if this day is in our holiday list we exclude it
        if (day) in (holidays):
            pass
        else:
            #else we retrieve the weekday
            print(day)
            date=pd.to_datetime(day,format="%Y-%m-%d")
            weekday=date.day_name()
            print(weekday)
            
            #and get from the 2019 avg dataframe the data for the corresponding day
            avg_col_def = [col for col in avg_df.columns if weekday in col]

            #then we get the ratio of movement on that day in reference to the 2019 avg
            lastweeks[weekday]=(current_df[day]/avg_df[avg_col_def[0]]*100)-100
    #and end up with this dataframe
    print(lastweeks)
    
    #we take all the columnnames except locationId and name
    listofcolumns=lastweeks.columns.tolist()
    
    #and make a horizontal mean
    mean= lastweeks[listofcolumns[2:]].mean(axis=1)
    print(mean)
    #and we save this mean to the dictionary
    weekdict[firstday]=mean.tolist()
#and create a dataframe
meandf=pd.DataFrame(weekdict)


meandf

0
2020-03-09
Monday
2020-03-10
Tuesday
2020-03-11
Wednesday
2020-03-12
Thursday
2020-03-13
Friday
2020-03-14
Saturday
2020-03-15
Sunday
    locationId                                    name     Monday    Tuesday  \
0        total                                     NaN   5.045345  -2.427474
1    006242203       Berlin - Friedrichshain-Kreuzberg  -2.346235  -9.006359
2    006242201            Berlin - Steglitz-Zehlendorf  -0.141224  -6.605808
3    006278201                  Hamburg - Hamburg-Nord  -9.379102 -15.187031
4    006242204           Berlin - Tempelhof-Schöneberg   0.162320  -6.359502
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz   1.641280  -1.621944
510  006264000               Bayreuth - Sankt Johannis   9.670507   2.753063
511  006243701       Siegen-Wittgenstein - Bad Laasphe  -1.258939  -2.686486
512  006243700       Siegen-Wittgenstein - Hilchenbach  18.528359  15.145136
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel   0.385064  -4.753866

     Wednesday   Thursday     Friday   Saturday     Sunday
0    -0.968174   0.057236  -1.800119  -9.746635  -9.335136
1    -8.043691 -10.859560 -12.077842 -24.909817 -33.490345
2    -6.033846  -6.374296  -3.639694 -17.010726 -21.319431
3   -10.088100 -13.405574 -18.415609 -17.747942 -25.011209
4    -4.454823  -4.325293  -2.153597 -12.218394 -20.207704
..         ...        ...        ...        ...        ...
509   2.174300  -1.111646   0.320651  -4.818625   0.304119
510   5.145206   6.474864   2.285465  -8.892728  -2.879515
511  -6.276255  -1.223170  -6.211991 -20.009612  -9.759433
512  11.659267  13.359214   8.669112  -2.180834   9.990160
513  -6.469718  -3.522637  -6.083080 -18.636534 -25.887339

[514 rows x 9 columns]
0      -2.739280
1     -14.390550
2      -8.732146
3     -15.604938
4      -7.079571
         ...
509    -0.444552
510     2.079552
511    -6.775127
512    10.738631
513    -9.281159
Length: 514, dtype: float64
1
2020-03-16
Monday
2020-03-17
Tuesday
2020-03-18
Wednesday
2020-03-19
Thursday
2020-03-20
Friday
2020-03-21
Saturday
2020-03-22
Sunday
    locationId                                    name     Monday    Tuesday  \
0        total                                     NaN  -6.600163 -17.803260
1    006242203       Berlin - Friedrichshain-Kreuzberg -25.996043 -39.634138
2    006242201            Berlin - Steglitz-Zehlendorf -15.164096 -28.457669
3    006278201                  Hamburg - Hamburg-Nord -20.486775 -31.355613
4    006242204           Berlin - Tempelhof-Schöneberg -12.229999 -25.172449
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz  -4.583775  -8.857086
510  006264000               Bayreuth - Sankt Johannis -16.443589 -27.653456
511  006243701       Siegen-Wittgenstein - Bad Laasphe -15.605947 -21.578900
512  006243700       Siegen-Wittgenstein - Hilchenbach   4.103616  -4.758476
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel -16.826138 -25.384645

     Wednesday   Thursday     Friday   Saturday     Sunday
0   -22.414153 -27.511033 -31.786111 -45.944131 -44.159936
1   -43.570648 -51.292250 -52.489327 -59.050279 -59.638204
2   -32.314333 -39.419931 -39.023326 -47.842440 -47.419163
3   -35.267983 -39.212071 -42.694942 -47.843792 -49.004205
4   -27.427283 -35.902628 -36.927906 -44.347542 -45.992305
..         ...        ...        ...        ...        ...
509 -12.067364 -17.647625 -21.491417 -30.740540 -29.061838
510 -28.900156 -30.681405 -33.512415 -51.225732 -47.572619
511 -30.592946 -33.681185 -39.908950 -50.176941 -50.674458
512 -15.415161 -19.711695 -24.237638 -32.749094 -30.110311
513 -27.160681 -32.787626 -39.555006 -53.938842 -54.352817

[514 rows x 9 columns]
0     -28.031255
1     -47.381556
2     -35.662994
3     -37.980769
4     -32.571445
         ...
509   -17.778521
510   -33.712767
511   -34.602761
512   -17.554109
513   -35.715108
Length: 514, dtype: float64
2
2020-03-23
Monday
2020-03-24
Tuesday
2020-03-25
Wednesday
2020-03-26
Thursday
2020-03-27
Friday
2020-03-28
Saturday
2020-03-29
Sunday
    locationId                                    name     Monday    Tuesday  \
0        total                                     NaN -35.019342 -37.619882
1    006242203       Berlin - Friedrichshain-Kreuzberg -57.337106 -59.236160
2    006242201            Berlin - Steglitz-Zehlendorf -46.590595 -48.536619
3    006278201                  Hamburg - Hamburg-Nord -43.240585 -45.267710
4    006242204           Berlin - Tempelhof-Schöneberg -43.904405 -45.812735
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz -22.680622 -26.555357
510  006264000               Bayreuth - Sankt Johannis -42.731592 -45.777538
511  006243701       Siegen-Wittgenstein - Bad Laasphe -41.321039 -41.767425
512  006243700       Siegen-Wittgenstein - Hilchenbach -26.204228 -27.526036
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel -43.173862 -43.521467

     Wednesday   Thursday     Friday   Saturday     Sunday
0   -38.064617 -38.121271 -37.119300 -38.206633 -55.198563
1   -59.445204 -59.407840 -56.662334 -58.982970 -70.358760
2   -49.282005 -48.181890 -43.450265 -46.573267 -62.766325
3   -44.341305 -44.306182 -45.292918 -45.996739 -58.156154
4   -45.938130 -44.708588 -40.710734 -43.248586 -59.835125
..         ...        ...        ...        ...        ...
509 -25.959163 -27.244003 -26.619873 -30.439752 -45.802230
510 -44.866795 -46.214416 -45.436329 -36.080948 -51.538267
511 -43.996353 -44.493938 -45.263700 -48.497095 -61.102132
512 -27.019276 -29.376154 -26.612407 -28.237403 -50.991765
513 -44.836740 -47.393775 -44.259655 -53.628233 -67.481900

[514 rows x 9 columns]
0     -39.907087
1     -60.204339
2     -49.340138
3     -46.657370
4     -46.308329
         ...
509   -29.328714
510   -44.663698
511   -46.634526
512   -30.852467
513   -49.185090
Length: 514, dtype: float64
3
2020-03-30
Monday
2020-03-31
Tuesday
2020-04-01
Wednesday
2020-04-02
Thursday
2020-04-03
Friday
2020-04-04
Saturday
2020-04-05
Sunday
    locationId                                    name     Monday    Tuesday  \
0        total                                     NaN -35.528758 -35.424616
1    006242203       Berlin - Friedrichshain-Kreuzberg -59.647449 -58.241634
2    006242201            Berlin - Steglitz-Zehlendorf -49.142138 -48.059456
3    006278201                  Hamburg - Hamburg-Nord -45.752519 -42.703942
4    006242204           Berlin - Tempelhof-Schöneberg -46.424785 -44.414289
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz -23.682496 -24.237726
510  006264000               Bayreuth - Sankt Johannis -42.862023 -45.436026
511  006243701       Siegen-Wittgenstein - Bad Laasphe -40.696274 -40.824798
512  006243700       Siegen-Wittgenstein - Hilchenbach -24.044126 -24.116441
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel -46.577207 -44.937267

     Wednesday   Thursday     Friday   Saturday     Sunday
0   -34.851230 -33.874271 -36.316510 -35.224508 -28.414927
1   -57.384498 -59.065804 -56.609258 -57.693523 -52.109940
2   -47.160774 -48.002117 -43.166055 -46.115646 -37.714752
3   -44.710470 -44.651552 -45.644389 -45.703411 -39.789503
4   -42.347771 -43.053543 -39.833565 -41.496471 -34.422298
..         ...        ...        ...        ...        ...
509 -20.537250 -22.323476 -23.108356 -30.391626 -18.730993
510 -42.364695 -40.236220 -45.189487 -35.110234 -35.635261
511 -38.824833 -39.743152 -44.772376 -47.068461 -33.486666
512 -23.577751 -24.660658 -27.862708 -27.772696 -15.013724
513 -44.283060 -46.486771 -45.836611 -51.491458 -43.289776

[514 rows x 9 columns]
0     -34.233546
1     -57.250301
2     -45.622991
3     -44.136541
4     -41.713246
         ...
509   -23.287417
510   -40.976278
511   -40.773794
512   -23.864015
513   -46.128879
Length: 514, dtype: float64
4
2020-04-06
Monday
2020-04-07
Tuesday
2020-04-08
Wednesday
2020-04-09
Thursday
2020-04-11
Saturday
2020-04-12
Sunday
    locationId                                    name     Monday    Tuesday  \
0        total                                     NaN -25.801155 -30.591185
1    006242203       Berlin - Friedrichshain-Kreuzberg -50.963039 -52.712839
2    006242201            Berlin - Steglitz-Zehlendorf -38.441384 -40.407112
3    006278201                  Hamburg - Hamburg-Nord -35.298419 -37.653604
4    006242204           Berlin - Tempelhof-Schöneberg -33.717456 -35.833598
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz -17.337297 -18.656331
510  006264000               Bayreuth - Sankt Johannis -36.461601 -42.569126
511  006243701       Siegen-Wittgenstein - Bad Laasphe -37.054949 -37.378773
512  006243700       Siegen-Wittgenstein - Hilchenbach -24.604366 -25.293596
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel -38.016336 -38.099988

     Wednesday   Thursday   Saturday     Sunday
0   -28.860505 -28.031992 -27.007723 -21.661792
1   -52.048919 -53.283900 -53.951684 -43.679659
2   -39.813304 -40.203832 -40.476044 -25.127620
3   -35.674990 -34.544862 -38.814249 -32.807715
4   -34.723716 -35.087283 -35.475009 -23.273702
..         ...        ...        ...        ...
509 -19.021170 -18.096522 -17.875835   4.257672
510 -37.561502 -38.915809 -27.249918 -18.151048
511 -35.658998 -33.568029 -37.153218 -32.224778
512 -21.983840 -23.463460 -26.975008 -11.160599
513 -37.445485 -39.347409 -45.172174 -31.264348

[514 rows x 8 columns]
0     -26.992392
1     -51.106673
2     -37.411549
3     -35.798973
4     -33.018461
         ...
509   -14.454914
510   -33.484834
511   -35.506457
512   -22.246812
513   -38.224290
Length: 514, dtype: float64
5
2020-04-14
Tuesday
2020-04-15
Wednesday
2020-04-16
Thursday
2020-04-17
Friday
2020-04-18
Saturday
2020-04-19
Sunday
    locationId                                    name    Tuesday  Wednesday  \
0        total                                     NaN -30.231282 -28.161303
1    006242203       Berlin - Friedrichshain-Kreuzberg -54.251134 -53.800286
2    006242201            Berlin - Steglitz-Zehlendorf -42.924214 -42.768071
3    006278201                  Hamburg - Hamburg-Nord -39.875795 -36.464881
4    006242204           Berlin - Tempelhof-Schöneberg -38.419960 -38.011397
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz -18.831246 -18.026922
510  006264000               Bayreuth - Sankt Johannis -42.356430 -38.026521
511  006243701       Siegen-Wittgenstein - Bad Laasphe -38.477295 -35.945013
512  006243700       Siegen-Wittgenstein - Hilchenbach -29.553512 -26.646996
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel -40.003069 -37.604763

      Thursday     Friday   Saturday     Sunday
0   -26.101555 -27.591967 -27.953342 -24.071748
1   -51.568860 -48.922569 -49.521588 -47.473088
2   -38.975065 -34.512795 -35.633223 -32.452439
3   -36.360002 -37.042476 -36.019597 -34.735286
4   -33.890099 -30.370730 -30.812930 -29.616036
..         ...        ...        ...        ...
509 -16.144880 -14.126227 -16.970463 -12.127914
510 -33.022411 -35.193843 -24.633926 -32.533468
511 -30.333184 -38.249442 -42.125038 -34.515447
512 -22.958519 -23.196166 -25.536975 -11.559376
513 -33.894095 -34.659325 -39.988218 -34.487021

[514 rows x 8 columns]
0     -27.351866
1     -50.922921
2     -37.877634
3     -36.749673
4     -33.520192
         ...
509   -16.037942
510   -34.294433
511   -36.607570
512   -23.241924
513   -36.772749
Length: 514, dtype: float64

6
2020-04-20
Monday
2020-04-21
Tuesday
2020-04-22
Wednesday
2020-04-23
Thursday
2020-04-24
Friday
2020-04-25
Saturday
2020-04-26
Sunday
    locationId                                    name     Monday    Tuesday  \
0        total                                     NaN -19.717463 -22.003922
1    006242203       Berlin - Friedrichshain-Kreuzberg -46.783905 -47.422304
2    006242201            Berlin - Steglitz-Zehlendorf -34.405367 -35.753022
3    006278201                  Hamburg - Hamburg-Nord -30.848041 -31.484389
4    006242204           Berlin - Tempelhof-Schöneberg -30.089772 -30.760202
..         ...                                     ...        ...        ...
509  006252600                 Dessau-Roßlau - Streetz  -9.411908 -12.154641
510  006264000               Bayreuth - Sankt Johannis -27.145120 -30.469429
511  006243701       Siegen-Wittgenstein - Bad Laasphe -29.649981 -29.299375
512  006243700       Siegen-Wittgenstein - Hilchenbach -13.971353 -11.131731
513  006253101  Braunschweig - Wenden-Thune-Harxbüttel -29.984442 -32.897211

     Wednesday   Thursday     Friday   Saturday     Sunday
0   -21.099847 -21.045633 -23.412715 -23.450920 -17.850197
1   -45.825916 -45.487283 -45.376375 -51.605605 -46.401022
2   -34.354151 -33.202994 -29.324185 -37.164503 -29.761373
3   -30.339024 -30.855660 -34.239686 -34.534445 -38.137869
4   -28.851884 -27.451431 -27.120574 -34.210756 -28.543911
..         ...        ...        ...        ...        ...
509 -10.161887 -13.551681 -10.843468 -21.067196  -7.275827
510 -28.105124 -26.356753 -30.306374 -14.684107 -12.179843
511 -28.365599 -24.280198 -31.420718 -34.064398 -20.880214
512 -12.185975 -12.392768 -12.979572 -13.589959  -0.631830
513 -31.370170 -31.353732 -30.966026 -39.790071 -26.443581

[514 rows x 9 columns]
0     -21.225814
1     -46.986058
2     -33.423656
3     -32.919873
4     -29.575504
         ...
509   -12.066658
510   -24.178107
511   -28.280069
512   -10.983312
513   -31.829319
Length: 514, dtype: float64

,locationId,name,2020-03-09,2020-03-16,2020-03-23,2020-03-30,2020-04-06,2020-04-13,2020-04-20
0,total,NaN,-2.739280,-28.031255,-39.907087,-34.233546,-26.992392,-27.351866,-21.225814
1,006242203,Berlin - Friedrichshain-Kreuzberg,-14.390550,-47.381556,-60.204339,-57.250301,-51.106673,-50.922921,-46.986058
2,006242201,Berlin - Steglitz-Zehlendorf,-8.732146,-35.662994,-49.340138,-45.622991,-37.411549,-37.877634,-33.423656
3,006278201,Hamburg - Hamburg-Nord,-15.604938,-37.980769,-46.657370,-44.136541,-35.798973,-36.749673,-32.919873
4,006242204,Berlin - Tempelhof-Schöneberg,-7.079571,-32.571445,-46.308329,-41.713246,-33.018461,-33.520192,-29.575504
...,...,...,...,...,...,...,...,...,...
509,006252600,Dessau-Roßlau - Streetz,-0.444552,-17.778521,-29.328714,-23.287417,-14.454914,-16.037942,-12.066658
510,006264000,Bayreuth - Sankt Johannis,2.079552,-33.712767,-44.663698,-40.976278,-33.484834,-34.294433,-24.178107
511,006243701,Siegen-Wittgenstein - Bad Laasphe,-6.775127,-34.602761,-46.634526,-40.773794,-35.506457,-36.607570,-28.280069
512,006243700,Siegen-Wittgenstein - Hilchenbach,10.738631,-17.554109,-30.852467,-23.864015,-22.246812,-23.241924,-10.983312
513,006253101,Braunschweig - Wenden-Thune-Harxbüttel,-9.281159,-35.715108,-49.185090,-46.128879,-38.224290,-36.772749,-31.829319

In [ ]:
meandf["diff_since_lockdown"]=meandf["2020-04-20"]-meandf["2020-03-23"]
meandf[["locationId","name","diff_since_lockdown"]].to_csv("diff_map.csv",index=False)

In [52]:
jenkspy.jenks_breaks(meandf["diff_since_lockdown"],4)

[5.841510971257925,
 14.964156551327864,
 18.29161839998382,
 21.801398772511895,
 30.836651304614694]

In [20]:
#and then we do the same thing but for sums of regions
def weekchart(dfname,region):
    #we take in the dataframe for the region and the name of the region

    #we get for the region all the current values 
    current_df_specs=current_extractor(dfname)
    current_cols=current_df_specs[1]
    current_df=current_df_specs[0]
    
    #and we get for the region all past avg values
    avg_df_specs=avg_extactor(dfname)
    avg_cols=avg_df_specs[1]
    avg_df=avg_df_specs[0]
    
    #then we save the name of the region
    weekdict={"name":[region]}
    
    #and we iterate through the last weeks
    for weeknumber in range(0,numberofweeks,1):
        # for each week we create a dataframe
        lastweeks=pd.DataFrame()
        lastweeks["name"]=[region]
        lastweeks
        print(weeknumber)
        #get the first day of the week
        firstday=timespan_cols[weeknumber*7]
        
        #and then we iterate day by day
        for day in timespan_cols[weeknumber*7:(weeknumber+1)*7]:
            
            #if the day is in the holidays-list, we skip
            if (day) in (holidays):
                pass
            else:
                #get the name of the weekday
                print(day)
                date=pd.to_datetime(day,format="%Y-%m-%d")
                weekday=date.day_name()
                print(weekday)

                #and get from the 2019 avg dataframe the columnname for the corresponding day
                avg_col_def = [col for col in avg_df.columns if weekday in col]
                
                print(current_df[day])
                print(avg_df[avg_col_def[0]])

                
                #then we get the ratio of movement on that day in reference to the 2019 avg
                #by summing all movements of that current day over the dataframe
                #and summing all movement of that weekday over the avg df 
                #and then calculating the ratio
                lastweeks[weekday]=(current_df[day].sum()/avg_df[avg_col_def[0]].sum()*100)-100
        
        #and end up with this dataframe of which again we calculate the mean
        print(lastweeks)
        listofcolumns=lastweeks.columns.tolist()
        mean= lastweeks[listofcolumns[2:]].mean(axis=1)
        print(mean)
        
        #and save this mean to the dictionary
        weekdict[firstday]=mean.tolist()
    
    #and we built our dictionary from there
    regionmeandf=pd.DataFrame(weekdict)
    return(regionmeandf)

In [21]:
berlin_per_week=weekchart(berlin_data,"Berlin")
brandenburg_per_week=weekchart(brandenburg_data,"Brandenburg")
germany_per_week=weekchart(total_germany_data,"Deutschland")
germany_per_week

0
2020-03-09
Monday
1    2916667
2    2486859
4    2049282
7    1745546
8    1899764
Name: 2020-03-09, dtype: int64
1    2986743
2    2490376
4    2045961
7    1748355
8    1864485
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-10
Tuesday
1    2818488
2    2411566
4    1972185
7    1671961
8    1836936
Name: 2020-03-10, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-03-11
Wednesday
1    2874568
2    2464206
4    2026260
7    1712680
8    1863812
Name: 2020-03-11, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-03-12
Thursday
1    2840732
2    2460256
4    2038828
7    1730132
8    1909829
Name: 2020-03-12, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-03-13
Friday
1    2663702
2    2355016
4    2002955
7    1699050
8    1888134
Name: 2020-03-13, dtype: int64
1    3029614
2    2443969
4    2047040
7    1756017
8    1853727
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-03-14
Saturday
1    1915504
2    1713570
4    1596348
7    1298277
8    1467644
Name: 2020-03-14, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-03-15
Sunday
1    1277006
2    1177402
4    1089871
7     939262
8    1013355
Name: 2020-03-15, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name   Monday   Tuesday  Wednesday  Thursday   Friday   Saturday  \
0  Berlin -0.33946 -6.805634  -5.746223 -6.409981 -4.68547 -16.014217

      Sunday
0 -22.501398
0   -10.360487
dtype: float64
1
2020-03-16
Monday
1    2210308
2    2112733
4    1795740
7    1535705
8    1762583
Name: 2020-03-16, dtype: int64
1    2986743
2    2490376
4    2045961
7    1748355
8    1864485
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-17
Tuesday
1    1869806
2    1847321
4    1575961
7    1335515
8    1564799
Name: 2020-03-17, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-03-18
Wednesday
1    1763990
2    1775016
4    1539075
7    1300957
8    1525811
Name: 2020-03-18, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-03-19
Thursday
1    1552221
2    1591897
4    1365915
7    1166034
8    1388964
Name: 2020-03-19, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-03-20
Friday
1    1439390
2    1490251
4    1291111
7    1105043
8    1320095
Name: 2020-03-20, dtype: int64
1    3029614
2    2443969
4    2047040
7    1756017
8    1853727
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-03-21
Saturday
1    1044602
2    1076954
4    1012065
7     849238
8     989934
Name: 2020-03-21, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-03-22
Sunday
1    774959
2    786837
4    737683
7    630841
8    713742
Name: 2020-03-22, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name     Monday    Tuesday  Wednesday   Thursday     Friday   Saturday  \
0  Berlin -15.435195 -28.711679 -31.905123 -39.778705 -40.290468 -47.737957

      Sunday
0 -48.623785
0   -39.507953
dtype: float64
2
2020-03-23
Monday
1    1274231
2    1330095
4    1147694
7     987956
8    1199920
Name: 2020-03-23, dtype: int64
1    2986743
2    2490376
4    2045961
7    1748355
8    1864485
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-24
Tuesday
1    1262642
2    1328855
4    1141251
7     989007
8    1187312
Name: 2020-03-24, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-03-25
Wednesday
1    1267749
2    1330049
4    1146509
7     996093
8    1198895
Name: 2020-03-25, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-03-26
Thursday
1    1293593
2    1361654
4    1178260
7    1024819
8    1236009
Name: 2020-03-26, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-03-27
Friday
1    1312964
2    1382058
4    1213675
7    1053977
8    1257776
Name: 2020-03-27, dtype: int64
1    3029614
2    2443969
4    2047040
7    1756017
8    1853727
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-03-28
Saturday
1    1046319
2    1103160
4    1032050
7     889051
8    1046448
Name: 2020-03-28, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-03-29
Sunday
1    569121
2    557177
4    548606
7    438229
8    514566
Name: 2020-03-29, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name     Monday    Tuesday  Wednesday   Thursday     Friday   Saturday  \
0  Berlin -46.660033 -48.586989 -48.837028 -48.052777 -44.112804 -46.222105

      Sunday
0 -62.953092
0   -49.794133
dtype: float64
3
2020-03-30
Monday
1    1205227
2    1266552
4    1096128
7     937209
8    1143574
Name: 2020-03-30, dtype: int64
1    2986743
2    2490376
4    2045961
7    1748355
8    1864485
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-31
Tuesday
1    1293447
2    1341176
4    1170704
7    1001283
8    1206165
Name: 2020-03-31, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-01
Wednesday
1    1332167
2    1385677
4    1222651
7    1031633
8    1254327
Name: 2020-04-01, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-02
Thursday
1    1304493
2    1366378
4    1213529
7    1023903
8    1236852
Name: 2020-04-02, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-03
Friday
1    1314572
2    1389004
4    1231631
7    1037756
8    1262911
Name: 2020-04-03, dtype: int64
1    3029614
2    2443969
4    2047040
7    1756017
8    1853727
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-04-04
Saturday
1    1079212
2    1112609
4    1063913
7     888508
8    1045061
Name: 2020-04-04, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-05
Sunday
1    919504
2    932057
4    895716
7    754942
8    868105
Name: 2020-04-05, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name     Monday    Tuesday  Wednesday   Thursday     Friday   Saturday  \
0  Berlin -49.275049 -47.684657 -46.363341 -47.619594 -43.974228 -45.462524

      Sunday
0 -38.384499
0   -44.914807
dtype: float64
4
2020-04-06
Monday
1    1464608
2    1533041
4    1356115
7    1140434
8    1358804
Name: 2020-04-06, dtype: int64
1    2986743
2    2490376
4    2045961
7    1748355
8    1864485
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-04-07
Tuesday
1    1464699
2    1538770
4    1351424
7    1145291
8    1367108
Name: 2020-04-07, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-08
Wednesday
1    1498958
2    1578360
4    1384337
7    1178437
8    1416477
Name: 2020-04-08, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-09
Thursday
1    1488751
2    1571298
4    1383290
7    1171511
8    1407401
Name: 2020-04-09, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-11
Saturday
1    1174664
2    1229056
4    1173416
7     966417
8    1148417
Name: 2020-04-11, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-12
Sunday
1    1081368
2    1120415
4    1047993
7     899939
8    1052485
Name: 2020-04-12, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name     Monday    Tuesday  Wednesday   Thursday   Saturday     Sunday
0  Berlin -38.460388 -40.249762 -39.212476 -40.143356 -40.179697 -26.656203
0   -37.288299
dtype: float64
5
2020-04-14
Tuesday
1    1417051
2    1473775
4    1296952
7    1079197
8    1293885
Name: 2020-04-14, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-15
Wednesday
1    1444210
2    1500873
4    1314614
7    1111056
8    1321310
Name: 2020-04-15, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-16
Thursday
1    1543406
2    1603587
4    1408802
7    1199734
8    1423290
Name: 2020-04-16, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-17
Friday
1    1547449
2    1600487
4    1425339
7    1205035
8    1427908
Name: 2020-04-17, dtype: int64
1    3029614
2    2443969
4    2047040
7    1756017
8    1853727
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-04-18
Saturday
1    1287673
2    1329051
4    1258198
7    1049074
8    1225020
Name: 2020-04-18, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-19
Sunday
1    1008533
2    1010804
4     961364
7     806694
8     914968
Name: 2020-04-19, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name    Tuesday  Wednesday   Thursday     Friday   Saturday    Sunday
0  Berlin -42.915935 -42.352446 -38.808793 -35.256241 -35.376329 -33.70321
0   -37.099404
dtype: float64
6
2020-04-20
Monday
1    1589428
2    1633553
4    1430336
7    1207332
8    1435342
Name: 2020-04-20, dtype: int64
1    2986743
2    2490376
4    2045961
7    1748355
8    1864485
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-04-21
Tuesday
1    1628571
2    1658945
4    1458276
7    1232198
8    1459586
Name: 2020-04-21, dtype: int64
1    3097456
2    2582137
4    2106124
7    1798948
8    1908665
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-22
Wednesday
1    1693490
2    1721523
4    1508863
7    1276580
8    1510500
Name: 2020-04-22, dtype: int64
1    3126015
2    2622440
4    2120735
7    1809530
8    1929861
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-23
Thursday
1    1737214
2    1755263
4    1546010
7    1306405
8    1536719
Name: 2020-04-23, dtype: int64
1    3186805
2    2627757
4    2131000
7    1836606
8    1949614
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-24
Friday
1    1654885
2    1727295
4    1491871
7    1294239
8    1536022
Name: 2020-04-24, dtype: int64
1    3029614
2    2443969
4    2047040
7    1756017
8    1853727
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-04-25
Saturday
1    1234511
2    1297433
4    1196407
7    1008233
8    1195105
Name: 2020-04-25, dtype: int64
1    2550938
2    2064809
4    1818545
7    1498197
8    1582625
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-26
Sunday
1    1029117
2    1051074
4     976008
7     836741
8     952839
Name: 2020-04-26, dtype: int64
1    1920031
2    1496433
4    1365885
7    1162331
8    1148217
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
     name     Monday    Tuesday  Wednesday   Thursday    Friday   Saturday  \
0  Berlin -34.482369 -35.287893 -33.575378 -32.818296 -30.78115 -37.660348

      Sunday
0 -31.681244
0   -33.634052
dtype: float64
0
2020-03-09
Monday
46     676954
64     592109
99     609397
100    616200
102    590829
163    508795
164    504659
166    522889
168    541040
203    417036
309    306395
315    386119
366    355753
398    326117
401    330747
424    224993
451    290487
474    258298
Name: 2020-03-09, dtype: int64
46     664177
64     650459
99     627919
100    601355
102    593789
163    484202
164    483642
166    545836
168    518778
203    417491
309    334691
315    382819
366    357596
398    315287
401    347018
424    230044
451    274969
474    193133
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-10
Tuesday
46     663595
64     584443
99     596610
100    601382
102    587837
163    489326
164    489316
166    519478
168    539236
203    410186
309    307619
315    384721
366    358537
398    343471
401    331179
424    212569
451    287253
474    257144
Name: 2020-03-10, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-03-11
Wednesday
46     666068
64     589663
99     609231
100    605310
102    594119
163    497476
164    502273
166    525350
168    551233
203    411772
309    306512
315    390659
366    356664
398    337797
401    336894
424    210030
451    293316
474    264738
Name: 2020-03-11, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-03-12
Thursday
46     678978
64     590621
99     614432
100    619508
102    597736
163    499263
164    504633
166    523301
168    546372
203    420512
309    316959
315    394371
366    359537
398    342004
401    338773
424    209764
451    296227
474    261035
Name: 2020-03-12, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-03-13
Friday
46     685247
64     600287
99     608815
100    641086
102    602179
163    480530
164    512106
166    535322
168    558261
203    430266
309    309506
315    394021
366    386486
398    337181
401    338905
424    226336
451    298219
474    263501
Name: 2020-03-13, dtype: int64
46     698194
64     705534
99     664933
100    647069
102    626657
163    522929
164    537658
166    576084
168    554021
203    442531
309    352592
315    401831
366    414705
398    333899
401    362724
424    243573
451    287953
474    201855
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-03-14
Saturday
46     502089
64     458122
99     468303
100    493120
102    430219
163    333098
164    406071
166    394885
168    460264
203    294479
309    201637
315    257451
366    293920
398    260482
401    213323
424    170411
451    231521
474    199069
Name: 2020-03-14, dtype: int64
46     530217
64     559657
99     530151
100    511007
102    461214
163    385408
164    445599
166    436834
168    445535
203    308309
309    257676
315    280422
366    325810
398    252982
401    250908
424    177224
451    223435
474    150034
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-03-15
Sunday
46     345393
64     309383
99     336438
100    318143
102    287800
163    230446
164    246531
166    271080
168    312603
203    176387
309    139041
315    162045
366    154450
398    163786
401    142475
424    107634
451    144406
474    134412
Name: 2020-03-15, dtype: int64
46     380235
64     410370
99     381196
100    357050
102    325969
163    265043
164    288626
166    307686
168    312993
203    246194
309    179643
315    191326
366    219214
398    174250
401    177327
424    145933
451    151696
474    102403
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
          name    Monday   Tuesday  Wednesday  Thursday    Friday  Saturday  \
0  Brandenburg  0.443863 -3.043609  -1.596971 -2.990963 -4.274041 -7.102389

      Sunday
0 -13.746585
0   -5.459093
dtype: float64
1
2020-03-16
Monday
46     641934
64     549976
99     577028
100    575013
102    562435
163    438063
164    477264
166    500110
168    527131
203    389673
309    297458
315    368814
366    342004
398    323689
401    317863
424    202692
451    289644
474    258509
Name: 2020-03-16, dtype: int64
46     664177
64     650459
99     627919
100    601355
102    593789
163    484202
164    483642
166    545836
168    518778
203    417491
309    334691
315    382819
366    357596
398    315287
401    347018
424    230044
451    274969
474    193133
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-17
Tuesday
46     615554
64     517326
99     551438
100    550029
102    539987
163    410758
164    453864
166    498552
168    503907
203    396121
309    299494
315    350575
366    368247
398    321855
401    309684
424    196329
451    289922
474    249659
Name: 2020-03-17, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-03-18
Wednesday
46     573210
64     493044
99     507454
100    524586
102    510530
163    367528
164    406978
166    475590
168    477448
203    418137
309    275618
315    353318
366    423943
398    288284
401    279884
424    164274
451    253472
474    222131
Name: 2020-03-18, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-03-19
Thursday
46     532756
64     449882
99     466998
100    491943
102    475568
163    333327
164    388189
166    439988
168    440867
203    365865
309    263276
315    304085
366    383701
398    272820
401    276946
424    165255
451    247527
474    211413
Name: 2020-03-19, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-03-20
Friday
46     501288
64     424803
99     457560
100    474378
102    460627
163    300788
164    377149
166    386227
168    427373
203    299577
309    246198
315    266912
366    275083
398    263507
401    262598
424    130548
451    243698
474    196571
Name: 2020-03-20, dtype: int64
46     698194
64     705534
99     664933
100    647069
102    626657
163    522929
164    537658
166    576084
168    554021
203    442531
309    352592
315    401831
366    414705
398    333899
401    362724
424    243573
451    287953
474    201855
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-03-21
Saturday
46     349346
64     285174
99     336199
100    338035
102    302209
163    198600
164    258322
166    264391
168    337745
203    167366
309    140200

2020-03-22
Sunday
46     244336
64     201569
99     236786
100    233564
102    209148
163    142997
164    171674
166    190327
168    247099
203    110821
309     94024
315    108238
366    119251
398    125515
401    104927
424     63758
451    107965
474    100117
Name: 2020-03-22, dtype: int64
46     380235
64     410370
99     381196
100    357050
102    325969
163    265043
164    288626
166    307686
168    312993
203    246194
309    179643
315    191326
366    219214
398    174250
401    177327
424    145933
451    151696
474    102403
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
          name    Monday   Tuesday  Wednesday   Thursday     Friday  \
0  Brandenburg -4.784933 -9.625146  -14.23401 -22.163397 -30.086701

    Saturday     Sunday
0 -38.592562 -39.094169
0   -25.632664
dtype: float64
2
2020-03-23
Monday
46     458772
64     389468
99     411471
100    427631
102    420873
163    271212
164    332198
166    360932
168    390182
203    286695
309    228312
315    245886
366    269693
398    243309
401    243138
424    139524
451    221702
474    180764
Name: 2020-03-23, dtype: int64
46     664177
64     650459
99     627919
100    601355
102    593789
163    484202
164    483642
166    545836
168    518778
203    417491
309    334691
315    382819
366    357596
398    315287
401    347018
424    230044
451    274969
474    193133
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-24
Tuesday
46     459740
64     385775
99     420446
100    425064
102    417535
163    268704
164    337324
166    355347
168    385109
203    275319
309    220342
315    235758
366    262343
398    245183
401    237687
424    131699
451    218729
474    180662
Name: 2020-03-24, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-03-25
Wednesday
46     462561
64     392066
99     418647
100    429982
102    422185
163    267984
164    334134
166    355459
168    388423
203    278482
309    219940
315    239509
366    261210
398    243703
401    236663
424    136569
451    221967
474    179229
Name: 2020-03-25, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-03-26
Thursday
46     478579
64     397604
99     425179
100    449262
102    440320
163    277101
164    346542
166    368984
168    403096
203    297805
309    226041
315    240296
366    271072
398    245397
401    244170
424    137907
451    220061
474    185333
Name: 2020-03-26, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-03-27
Friday
46     483189
64     402653
99     435216
100    451862
102    439311
163    278236
164    352942
166    371455
168    423301
203    277925
309    224119
315    248152
366    249676
398    244455
401    249327
424    128208
451    229951
474    189507
Name: 2020-03-27, dtype: int64
46     698194
64     705534
99     664933
100    647069
102    626657
163    522929
164    537658
166    576084
168    554021
203    442531
309    352592
315    401831
366    414705
398    333899
401    362724
424    243573
451    287953
474    201855
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-03-28
Saturday
46     369757
64     300888
99     343889
100    357466
102    322549
163    215480
164    268819
166    283330
168    371493
203    174331
309    140552
315    173469
366    160852
398    163331
401    148545
424     84970
451    158915
474    146715
Name: 2020-03-28, dtype: int64
46     530217
64     559657
99     530151
100    511007
102    461214
163    385408
164    445599
166    436834
168    445535
203    308309
309    257676
315    280422
366    325810
398    252982
401    250908
424    177224
451    223435
474    150034
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-03-29
Sunday
46     161437
64     135278
99     155314
100    158529
102    143084
163     90495
164    116704
166    130192
168    158209
203     85054
309     71015
315     79726
366     78545
398     77807
401     78112
424     46578
451     79943
474     71012
Name: 2020-03-29, dtype: int64
46     380235
64     410370
99     381196
100    357050
102    325969
163    265043
164    288626
166    307686
168    312993
203    246194
309    179643
315    191326
366    219214
398    174250
401    177327
424    145933
451    151696
474    102403
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
          name     Monday    Tuesday  Wednesday   Thursday     Friday  \
0  Brandenburg -31.177603 -33.493647 -32.898629 -32.393394 -33.764946

    Saturday     Sunday
0 -35.929568 -58.480181
0   -37.826727
dtype: float64
3
2020-03-30
Monday
46     441845
64     371972
99     402492
100    405958
102    404714
163    253752
164    318668
166    341897
168    361902
203    272255
309    219405
315    238248
366    233024
398    223520
401    235589
424    128190
451    213302
474    169817
Name: 2020-03-30, dtype: int64
46     664177
64     650459
99     627919
100    601355
102    593789
163    484202
164    483642
166    545836
168    518778
203    417491
309    334691
315    382819
366    357596
398    315287
401    347018
424    230044
451    274969
474    193133
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-03-31
Tuesday
46     459852
64     388489
99     408181
100    425597
102    423370
163    270452
164    332465
166    351772
168    379940
203    265963
309    219535
315    239480
366    231772
398    237456
401    244354
424    123554
451    233477
474    182563
Name: 2020-03-31, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-01
Wednesday
46     477145
64     398016
99     417725
100    437287
102    436588
163    284639
164    340621
166    360000
168    388038
203    272995
309    228405
315    250339
366    231879
398    234954
401    247808
424    121799
451    240359
474    187760
Name: 2020-04-01, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-02
Thursday
46     475830
64     402246
99     434263
100    440721
102    444084
163    276445
164    346319
166    376029
168    394833
203    277420
309    238752
315    242194
366    239383
398    251707
401    262149
424    116882
451    224634
474    193152
Name: 2020-04-02, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-03
Friday
46     491541
64     406953
99     437053
100    452301
102    445334
163    278675
164    351670
166    380561
168    402472
203    269385
309    234956
315    247981
366    245993
398    247868
401    265309
424    119660
451    221338
474    193956
Name: 2020-04-03, dtype: int64
46     698194
64     705534
99     664933
100    647069
102    626657
163    522929
164    537658
166    576084
168    554021
203    442531
309    352592
315    401831
366    414705
398    333899
401    362724
424    243573
451    287953
474    201855
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-04-04
Saturday
46     365183
64     288385
99     343737
100    351706
102    320989
163    201351
164    265347
166    280165
168    343729
203    172908
309    147771
315    166676
366    163456
398    173913
401    160581
424     83593
451    160082
474    151255
Name: 2020-04-04, dtype: int64
46     530217
64     559657
99     530151
100    511007
102    461214
163    385408
164    445599
166    436834
168    445535
203    308309
309    257676
315    280422
366    325810
398    252982
401    250908
424    177224
451    223435
474    150034
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-05
Sunday
46     292692
64     236482
99     282323
100    286362
102    253185
163    171826
164    198087
166    237312
168    291960
203    133843
309    117162
315    137886
366    126993
398    128975
401    128132
424     66449
451    114171
474    121470
Name: 2020-04-05, dtype: int64
46     380235
64     410370
99     381196
100    357050
102    325969
163    265043
164    288626
166    307686
168    312993
203    246194
309    179643
315    191326
366    219214
398    174250
401    177327
424    145933
451    151696
474    102403
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
          name     Monday    Tuesday  Wednesday   Thursday     Friday  \
0  Brandenburg -34.732442 -34.035338 -32.071658 -32.605082 -33.607262

    Saturday     Sunday
0 -36.611153 -27.979227
0   -32.818287
dtype: float64
4
2020-04-06
Monday
46     518521
64     438898
99     482814
100    484155
102    469175
163    304223
164    379755
166    410963
168    438437
203    295258
309    253461
315    269161
366    259083
398    273782
401    271124
424    131173
451    240044
474    204933
Name: 2020-04-06, dtype: int64
46     664177
64     650459
99     627919
100    601355
102    593789
163    484202
164    483642
166    545836
168    518778
203    417491
309    334691
315    382819
366    357596
398    315287
401    347018
424    230044
451    274969
474    193133
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-04-07
Tuesday
46     515882
64     431411
99     475310
100    478443
102    467922
163    305210
164    381110
166    392235
168    433672
203    293535
309    253283
315    272184
366    230838
398    262892
401    268565
424    123159
451    240286
474    201478
Name: 2020-04-07, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-08
Wednesday
46     529766
64     454259
99     492512
100    497735
102    482686
163    312854
164    392194
166    409089
168    454481
203    297702
309    254627
315    278796
366    243746
398    271356
401    272840
424    122519
451    247029
474    205383
Name: 2020-04-08, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-09
Thursday
46     544487
64     455038
99     499078
100    515368
102    487044
163    307824
164    399679
166    436305
168    457656
203    320444
309    260052
315    283824
366    282969
398    283930
401    290371
424    139692
451    249639
474    218798
Name: 2020-04-09, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-11
Saturday
46     426296
64     344780
99     408729
100    412111
102    369270
163    230086
164    310774
166    335405
168    397122
203    191287
309    169267
315    200671
366    197544
398    209413
401    203778
424     78508
451    189307
474    176821
Name: 2020-04-11, dtype: int64
46     530217
64     559657
99     530151
100    511007
102    461214
163    385408
164    445599
166    436834
168    445535
203    308309
309    257676
315    280422
366    325810
398    252982
401    250908
424    177224
451    223435
474    150034
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-12
Sunday
46     368419
64     294986
99     354432
100    357175
102    301098
163    214049
164    248859
166    298317
168    375491
203    154506
309    138663
315    166325
366    159185
398    164250
401    164660
424     60283
451    142610
474    150988
Name: 2020-04-12, dtype: int64
46     380235
64     410370
99     381196
100    357050
102    325969
163    265043
164    288626
166    307686
168    312993
203    246194
309    179643
315    191326
366    219214
398    174250
401    177327
424    145933
451    151696
474    102403
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
          name     Monday    Tuesday  Wednesday   Thursday   Saturday  \
0  Brandenburg -23.659435 -26.619337 -23.963606 -23.098431 -25.737054

      Sunday
0 -10.891081
0   -22.061902
dtype: float64
5
2020-04-14
Tuesday
46     502411
64     415278
99     462362
100    463280
102    451913
163    288114
164    370165
166    399518
168    408064
203    291523
309    248602
315    250767
366    263695
398    263099
401    272610
424    135657
451    236873
474    199812
Name: 2020-04-14, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-15
Wednesday
46     511835
64     425389
99     468674
100    471527
102    462853
163    294166
164    371728
166    403199
168    418903
203    284145
309    249748
315    255784
366    257796
398    262062
401    271873
424    128947
451    246777
474    197679
Name: 2020-04-15, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-16
Thursday
46     548234
64     460070
99     505511
100    510993
102    495280
163    316840
164    399954
166    438109
168    457384
203    302108
309    269462
315    277749
366    268760
398    281865
401    294428
424    130747
451    256119
474    213240
Name: 2020-04-16, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-17
Friday
46     546380
64     457764
99     511119
100    522642
102    498772
163    314905
164    406735
166    437026
168    465851
203    298038
309    268792
315    275264
366    292720
398    281827
401    301130
424    129914
451    256933
474    215273
Name: 2020-04-17, dtype: int64
46     698194
64     705534
99     664933
100    647069
102    626657
163    522929
164    537658
166    576084
168    554021
203    442531
309    352592
315    401831
366    414705
398    333899
401    362724
424    243573
451    287953
474    201855
Name: 2019-03 (March) 5. Avg. Friday, dtype: int64
2020-04-18
Saturday
46     446792
64     361800
99     424858
100    428876
102    398922
163    252749
164    322597
166    346156
168    416705
203    203931
309    185745
315    200131
366    213596
398    213435
401    199929
424     96714
451    201039
474    176748
Name: 2020-04-18, dtype: int64
46     530217
64     559657
99     530151
100    511007
102    461214
163    385408
164    445599
166    436834
168    445535
203    308309
309    257676
315    280422
366    325810
398    252982
401    250908
424    177224
451    223435
474    150034
Name: 2019-03 (March) 6. Avg. Saturday, dtype: int64
2020-04-19
Sunday
46     320678
64     251468
99     310591
100    305147
102    278397
163    187364
164    222051
166    257066
168    305914
203    150781
309    129052
315    144841
366    149678
398    154810
401    141457
424     78922
451    133730
474    128847
Name: 2020-04-19, dtype: int64
46     380235
64     410370
99     381196
100    357050
102    325969
163    265043
164    288626
166    307686
168    312993
203    246194
309    179643
315    191326
366    219214
398    174250
401    177327
424    145933
451    151696
474    102403
Name: 2019-03 (March) 7. Avg. Sunday, dtype: int64
          name   Tuesday  Wednesday   Thursday    Friday  Saturday     Sunday
0  Brandenburg -27.88149 -26.854764 -23.162334 -24.41656  -22.0699 -20.929776
0   -23.486667
dtype: float64
6
2020-04-20
Monday
46     542786
64     452863
99     506183
100    510243
102    498148
163    323090
164    397721
166    428189
168    450001
203    315604
309    284701
315    289751
366    284420
398    297024
401    310277
424    138674
451    259207
474    216781
Name: 2020-04-20, dtype: int64
46     664177
64     650459
99     627919
100    601355
102    593789
163    484202
164    483642
166    545836
168    518778
203    417491
309    334691
315    382819
366    357596
398    315287
401    347018
424    230044
451    274969
474    193133
Name: 2019-03 (March) 1. Avg. Monday, dtype: int64
2020-04-21
Tuesday
46     555302
64     468597
99     506834
100    516025
102    511703
163    331418
164    398671
166    430519
168    455740
203    313706
309    290626
315    289494
366    287143
398    293352
401    303480
424    139368
451    253115
474    216209
Name: 2020-04-21, dtype: int64
46     685908
64     654718
99     648948
100    612231
102    613243
163    501719
164    494549
166    562964
168    534149
203    414064
309    346769
315    391646
366    368080
398    328281
401    353518
424    225024
451    278629
474    199461
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: int64
2020-04-22
Wednesday
46     583182
64     478740
99     526720
100    530219
102    527880
163    345084
164    414271
166    443048
168    472598
203    325870
309    304938
315    306574
366    293227
398    299084
401    321195
424    142186
451    264703
474    225884
Name: 2020-04-22, dtype: int64
46     687605
64     656690
99     647065
100    610757
102    613853
163    505409
164    496624
166    557794
168    528584
203    407484
309    345822
315    391373
366    371885
398    319054
401    349163
424    220986
451    272059
474    197526
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: int64
2020-04-23
Thursday
46     586132
64     488036
99     536963
100    533915
102    531158
163    345902
164    424805
166    449408
168    492069
203    328830
309    298119
315    307242
366    309426
398    305449
401    312547
424    141046
451    269883
474    237519
Name: 2020-04-23, dtype: int64
46     694247
64     670497
99     657476
100    628899
102    617808
163    507206
164    502601
166    564787
168    541711
203    422676
309    357004
315    403838
366    389678
398    335824
401    356267
424    226586
451    283488
474    203603
Name: 2019-03 (March) 4. Avg. Thursday, dtype: int64
2020-04-24
Friday
46     598432
64     491716
99     551626
100    552589
102    539727
163    348912
164    444316
166    461663

2020-03-27
Friday
0    125055213
Name: 2020-03-27, dtype: object
0    198876941
Name: 2019-03 (March) 5. Avg. Friday, dtype: object
2020-03-28
Saturday
0    99244374
Name: 2020-03-28, dtype: object
0    160606841
Name: 2019-03 (March) 6. Avg. Saturday, dtype: object
2020-03-29
Sunday
0    52036270
Name: 2020-03-29, dtype: object
0    116148663
Name: 2019-03 (March) 7. Avg. Sunday, dtype: object
          name     Monday    Tuesday  Wednesday   Thursday   Friday  \
0  Deutschland -35.019342 -37.619882 -38.064617 -38.121271 -37.1193

    Saturday     Sunday
0 -38.206633 -55.198563
0   -40.721711
dtype: float64
3
2020-03-30
Monday
0    117563349
Name: 2020-03-30, dtype: object
0    182350060
Name: 2019-03 (March) 1. Avg. Monday, dtype: object
2020-03-31
Tuesday
0    121926057
Name: 2020-03-31, dtype: object
0    188811974
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: object
2020-04-01
Wednesday
0    124025967
Name: 2020-04-01, dtype: object
0    190373460
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: object
2020-04-02
Thursday
0    128146403
Name: 2020-04-02, dtype: object
0    193792045
Name: 2019-03 (March) 4. Avg. Thursday, dtype: object
2020-04-03
Friday
0    126651776
Name: 2020-04-03, dtype: object
0    198876941
Name: 2019-03 (March) 5. Avg. Friday, dtype: object
2020-04-04
Saturday
0    104033872
Name: 2020-04-04, dtype: object
0    160606841
Name: 2019-03 (March) 6. Avg. Saturday, dtype: object
2020-04-05
Sunday
0    83145105
Name: 2020-04-05, dtype: object
0    116148663
Name: 2019-03 (March) 7. Avg. Sunday, dtype: object
          name     Monday    Tuesday  Wednesday   Thursday    Friday  \
0  Deutschland -35.528758 -35.424616  -34.85123 -33.874271 -36.31651

    Saturday     Sunday
0 -35.224508 -28.414927
0   -34.017677
dtype: float64
4
2020-04-06
Monday
0    135301638
Name: 2020-04-06, dtype: object
0    182350060
Name: 2019-03 (March) 1. Avg. Monday, dtype: object
2020-04-07
Tuesday
0    131052153
Name: 2020-04-07, dtype: object
0    188811974
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: object
2020-04-08
Wednesday
0    135430719
Name: 2020-04-08, dtype: object
0    190373460
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: object
2020-04-09
Thursday
0    139468274
Name: 2020-04-09, dtype: object
0    193792045
Name: 2019-03 (March) 4. Avg. Thursday, dtype: object
2020-04-11
Saturday
0    117230590
Name: 2020-04-11, dtype: object
0    160606841
Name: 2019-03 (March) 6. Avg. Saturday, dtype: object
2020-04-12
Sunday
0    90988781
Name: 2020-04-12, dtype: object
0    116148663
Name: 2019-03 (March) 7. Avg. Sunday, dtype: object
          name     Monday    Tuesday  Wednesday   Thursday   Saturday  \
0  Deutschland -25.801155 -30.591185 -28.860505 -28.031992 -27.007723

      Sunday
0 -21.661792
0   -27.230639
dtype: float64
5
2020-04-14
Tuesday
0    131731694
Name: 2020-04-14, dtype: object
0    188811974
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: object
2020-04-15
Wednesday
0    136761814
Name: 2020-04-15, dtype: object
0    190373460
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: object
2020-04-16
Thursday
0    143209307
Name: 2020-04-16, dtype: object
0    193792045
Name: 2019-03 (March) 4. Avg. Thursday, dtype: object
2020-04-17
Friday
0    144002882
Name: 2020-04-17, dtype: object
0    198876941
Name: 2019-03 (March) 5. Avg. Friday, dtype: object
2020-04-18
Saturday
0    115711861
Name: 2020-04-18, dtype: object
0    160606841
Name: 2019-03 (March) 6. Avg. Saturday, dtype: object
2020-04-19
Sunday
0    88189650
Name: 2020-04-19, dtype: object
0    116148663
Name: 2019-03 (March) 7. Avg. Sunday, dtype: object
          name    Tuesday  Wednesday   Thursday     Friday   Saturday  \
0  Deutschland -30.231282 -28.161303 -26.101555 -27.591967 -27.953342

      Sunday
0 -24.071748
0   -26.775983
dtype: float64
6
2020-04-20
Monday
0    146395254
Name: 2020-04-20, dtype: object
0    182350060
Name: 2019-03 (March) 1. Avg. Monday, dtype: object
2020-04-21
Tuesday
0    147265935
Name: 2020-04-21, dtype: object
0    188811974
Name: 2019-03 (March) 2. Avg. Tuesday, dtype: object
2020-04-22
Wednesday
0    150204952
Name: 2020-04-22, dtype: object
0    190373460
Name: 2019-03 (March) 3. Avg. Wednesday, dtype: object
2020-04-23
Thursday
0    153007283
Name: 2020-04-23, dtype: object
0    193792045
Name: 2019-03 (March) 4. Avg. Thursday, dtype: object
2020-04-24
Friday
0    152314450
Name: 2020-04-24, dtype: object
0    198876941
Name: 2019-03 (March) 5. Avg. Friday, dtype: object
2020-04-25
Saturday
0    122943060
Name: 2020-04-25, dtype: object
0    160606841
Name: 2019-03 (March) 6. Avg. Saturday, dtype: object
2020-04-26
Sunday
0    95415898
Name: 2020-04-26, dtype: object
0    116148663
Name: 2019-03 (March) 7. Avg. Sunday, dtype: object
          name     Monday    Tuesday  Wednesday   Thursday     Friday  \
0  Deutschland -19.717463 -22.003922 -21.099847 -21.045633 -23.412715

   Saturday     Sunday
0 -23.45092 -17.850197
0   -21.477205
dtype: float64

,name,2020-03-09,2020-03-16,2020-03-23,2020-03-30,2020-04-06,2020-04-13,2020-04-20
0,Deutschland,-4.036717,-31.603104,-40.721711,-34.017677,-27.230639,-26.775983,-21.477205

In [22]:
berlin_per_week

,name,2020-03-09,2020-03-16,2020-03-23,2020-03-30,2020-04-06,2020-04-13,2020-04-20
0,Berlin,-10.360487,-39.507953,-49.794133,-44.914807,-37.288299,-37.099404,-33.634052

In [31]:
barchartper_week=pd.concat([berlin_per_week,brandenburg_per_week,germany_per_week])
barchartper_week=barchartper_week.transpose()
    
#take the name from the first row as the columnames
barchartper_week.columns = barchartper_week.iloc[0]
#then drop this row, reset the indext and return the df
barchartper_week=barchartper_week.drop(barchartper_week.index[0])
barchartper_week=barchartper_week.reset_index()
barchartper_week

name       index   Berlin Brandenburg Deutschland
0     2020-03-09 -10.3605    -5.45909    -4.03672
1     2020-03-16  -39.508    -25.6327    -31.6031
2     2020-03-23 -49.7941    -37.8267    -40.7217
3     2020-03-30 -44.9148    -32.8183    -34.0177
4     2020-04-06 -37.2883    -22.0619    -27.2306
5     2020-04-13 -37.0994    -23.4867     -26.776
6     2020-04-20 -33.6341    -17.8887    -21.4772

In [32]:
barchartper_week.to_csv("barchart_per_week.csv",index=False)

In [33]:
#lastly we take the df over the mean without summation and write it out
rbbmeandf=meandf[meandf["locationId"].isin(rbb_ids)]

rbbmeandf.to_csv("rbb_smallmultiples.csv", index=False)

In [34]:
rbbmeandf

,locationId,name,2020-03-09,2020-03-16,2020-03-23,2020-03-30,2020-04-06,2020-04-13,2020-04-20
0,006242203,Berlin - Friedrichshain-Kreuzberg,-14.390550,-47.381556,-60.204339,-57.250301,-51.106673,-50.922921,-46.986058
1,006242201,Berlin - Steglitz-Zehlendorf,-8.732146,-35.662994,-49.340138,-45.622991,-37.411549,-37.877634,-33.423656
2,006242204,Berlin - Tempelhof-Schöneberg,-7.079571,-32.571445,-46.308329,-41.713246,-33.018461,-33.520192,-29.575504
3,006242200,Berlin - Reinickendorf,-7.735547,-32.664885,-45.800534,-42.088803,-33.377530,-34.206186,-29.683203
4,006242202,Berlin - Lichtenberg,-3.497643,-25.321591,-38.447050,-33.895494,-24.280360,-26.103391,-21.156277
5,006235300,Potsdam-Mittelmark,-3.283357,-21.651384,-35.184832,-30.321149,-18.992081,-21.081343,-15.138838
6,006237600,Dahme-Spreewald,-14.213207,-33.424548,-45.485725,-42.291412,-32.683982,-35.395073,-30.241503
7,006248800,Oberhavel,-7.893699,-25.618921,-38.464482,-33.966572,-21.294521,-23.491648,-17.848150
8,031824800,Märkisch-Oderland,-2.430044,-20.792689,-33.348182,-28.910438,-16.202930,-19.285308,-14.222162
9,006236400,Teltow-Fläming,-4.777271,-21.984166,-33.864739,-28.781145,-19.130346,-19.874453,-13.485170
10,006236900,Potsdam,-5.037235,-32.317073,-48.502117,-44.643201,-35.547775,-37.568731,-31.952472
11,006241300,Havelland,-3.339804,-23.251752,-37.209687,-33.686436,-21.659822,-24.290616,-17.657216
12,006262800,Oder-Spree,-7.666607,-23.889627,-38.577828,-33.776402,-21.784764,-23.421036,-19.422709
13,006255300,Barnim,2.047926,-14.349657,-27.780224,-24.248150,-9.121898,-14.094789,-8.684121
14,006268300,Spree-Neiße,-5.159572,-22.118267,-38.877570,-38.086394,-30.785551,-32.274959,-25.936472
15,006257100,Oberspreewald-Lausitz,-14.128217,-27.819756,-40.526721,-35.572786,-26.979830,-26.742631,-17.482204
16,006243000,Cottbus,-4.124611,-23.984634,-41.369602,-37.065927,-26.697024,-31.044020,-23.918320
17,006253700,Uckermark,-8.724579,-17.235192,-38.299986,-40.095292,-32.237867,-30.940860,-23.703727
18,006257400,Ostprignitz-Ruppin,1.959901,-15.405706,-30.894181,-27.311854,-14.407736,-16.028310,-6.468622
19,006250500,Elbe-Elster,-8.661777,-24.424425,-36.342065,-29.862097,-18.697207,-19.984456,-11.427390
20,006252300,Frankfurt (Oder),-8.182539,-33.182517,-46.522969,-48.691412,-47.591252,-43.611877,-40.681458
21,006273800,Prignitz,3.346314,-12.047024,-25.425127,-21.038510,-11.477832,-11.095494,-5.404947
22,006247000,Brandenburg an der Havel,31.339342,9.176699,-10.435647,-2.157335,13.976769,9.210461,17.907916